section.banner
	.banner__seminar
		.banner__seminar-wrap
			h2.banner__title
				| Узнайте, как&nbsp;избежать ошибок при&nbsp;выборе квартиры на&nbsp;открытом семинаре 22&nbsp;мая!
			ul.banner__facts
				li 19 часов, Каменоостровский пр. 3
				li Вход свободный
				li Осталось 20 мест
			.banner__cta
				button.btn.btn--attention.btn--bold.btn--big.btn--mr.js--register-seminar
					| Зарегестрироваться на семинар
				a.btn.btn--bold.btn--big(href="#")
					| Посмотреть отзывы
			a.banner__video-btn.js--show-seminar-video(href="#") Смотреть видео-презентацию
