section.company
	.company__wrap
		h3.company__title
			| О компании
		p.company__descr
			| Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании
		.company__video
			button.company__video-play.js--show-video
