section.company
	.company__wrap
		h3.company__title
			| О компании
		p.company__descr
			| Компания ТИМ Недвижимость работает на клиента, а не застройщика. Вы стоите перед выбором с результатами которого вам жить значительную часть своей жизни. Поэтому мы подбираем только комфортные вам варианты, чтобы каждый вечер вы радовались, оказавшись дома.
		p.company__descr
			| Перед нами не стоит задачи только подобрать квартиру. Мы охватываем весь цикл по выбору, покупке и благоустройству недвижимости. Поэтому изначально думаем наперёд и учитываем нюансы, которые не имеют значения в данный момент, но аукнутся в будущем. ТИМ Недвижимость гарантирует ваше спокойствие и счастье в новом доме!
		//.company__video
			button.company__video-play.js--show-video
