section.footer-search
	.footer-search__content
		h3.footer-search__title
			| Поиск недвижимости
		ul.footer-search__list
			li.footer-search__item
				a(href="#") Район
			li.footer-search__item
				a(href="#") Метро
			li.footer-search__item
				a(href="#") Застройщики
			li.footer-search__item
				a(href="#") Год сдачи
			li.footer-search__item
				a(href="#") Способы покупки
		img.footer-search__decor-img(src="./static/img/search/bg.png" alt="Поиск недвижимости")
