nav.footer-nav
	.footer__wrap
		ul.footer-nav__list
			li.footer-nav__item
				a(href="/object/list") Новостройки
			li.footer-nav__item.footer-nav__item--bigger
				a(href="#") Квартиры в готовых домах
			li.footer-nav__item.footer-nav__item--bigger
				a(href="#") Вторичная недвижимость
			li.footer-nav__item
				a(href="/uslugi") Услуги
			li.footer-nav__item
				a(href="/ipoteka") Ипотека
			li.footer-nav__item.footer-nav__item--bigger
				a(href="#") Подарки
