footer.footer
	include footer-search.pug
	include footer-nav.pug

	.footer__bottom
		.footer__wrap
			.footer__flex

				a.footer__logo(href="/")
					.footer__logo-img
						include ../icons/logo.pug
					.footer__logo-text
						h3.footer__logo-title
							| ТИМ Недвижимость
						p.footer__logo-descr
							| Продажа недвижимости в Санкт-Петербурге и ЛО

				.footer__socials
					ul.footer__socials-list
						li.footer__socials-item.footer__socials-item--vk
							a(href="#")
								span ВКонтакте
						li.footer__socials-item.footer__socials-item--fb
							a(href="#")
								span Youtube
						li.footer__socials-item.footer__socials-item--yt
							a(href="#")
								span Facebook
					button.btn.btn--attention.btn--upper.js--show-question-popup Написать письмо

				.footer__address
					| Адрес нашего офиса
					br
					| Невский пр. 7, офис 3

				.footer__tel
					a(href="+78124018892")
						| +7 (812) 408-18-92
					button.btn.btn--upper.js--show-order-get-popup Заявка на подбор

