nav.footer-nav
	.footer__wrap
		ul.footer-nav__list
			li.footer-nav__item
				a(href="#") Новостройки
			li.footer-nav__item
				a(href="#") Квартиры в готовых домах
			li.footer-nav__item
				a(href="#") Вторичная недвижимость
			li.footer-nav__item
				a(href="#") Услуги
			li.footer-nav__item
				a(href="#") Ипотека
			li.footer-nav__item
				a(href="#") Условия покупки
