header.main-header
	.main-header__wrap

		.main-header__top
			.main-header__top-left
				.main-header__logo
					img(src="/static/img/logo.jpg" alt="Недвижимость в Санкт-Петербурге и ЛО")
					h4.main-header__logo-text
						| Название
						p
							| Продажа недвижимости в Санкт-Петербурге и ЛО
			.main-header__top-right
				.main-header__tel
					a(href="tel:+79999999999") +7 (812) 555-55-55
					button.btn.btn--upper.js--order-call Заказать звонок

		.main-header__bottom
			nav.main-nav
				a.main-nav__item.main-nav__item--attention(href="#") Новостройки
				a.main-nav__item.main-nav__item--attention(href="#") Квартиры в готовых домах
				a.main-nav__item.main-nav__item--attention(href="#") Вторичная недвижимость
				a.main-nav__item(href="#") Услуги
				a.main-nav__item(href="#") Ипотека
				a.main-nav__item(href="#") Условия покупки
