header.main-header
	.main-header__wrap

		.main-header__top
			.main-header__top-left
				a.main-header__logo(href="/")
					.main-header__logo-img
						include ../icons/logo.pug
					h4.main-header__logo-text
						| ТИМ Недвижимость
						p
							| Продажа недвижимости в&nbsp;Санкт-Петербурге и&nbsp;ЛО
			.main-header__top-right
				.main-header__tel
					a(href="tel:+78124018892") +7 (812) 408-18-92
					button.btn.btn--upper.js--show-call-popup Заказать звонок

		.main-header__bottom
			nav.main-nav
				a.main-nav__item.main-nav__item--attention(href="#") Новостройки
				a.main-nav__item.main-nav__item--bigger.main-nav__item--attention(href="#") Квартиры в готовых домах
				a.main-nav__item.main-nav__item--bigger.main-nav__item--attention(href="#") Вторичная недвижимость
				a.main-nav__item(href="#") Услуги
				a.main-nav__item(href="#") Ипотека
				a.main-nav__item.main-nav__item--bigger(href="#") Условия покупки
