section.news

	.news__left
		nav.news__nav
			h3.news__title
				| Новости рынка

			ul.news__list
				li.news__item.news__item--active
					a(href="#") Минстрой РФ издал указ для развития конкуренции на строительном рынке
				li.news__item
					a(href="#") Минстрой РФ издал указ для развития конкуренции на строительном рынке
				li.news__item
					a(href="#") Минстрой РФ издал указ для развития конкуренции на строительном рынке
				li.news__item
					a(href="#") Минстрой РФ издал указ для развития конкуренции на строительном рынке

			.news__pagination
				a(href="#").news__pagination-back Назад
				a(href="#").news__pagination-fow Вперед

		.news__content
			article.news__article
				h4.news__article-title
					| Минстрой РФ издал указ для развития конкуренции на строительном рынке
				p.news__article-preview
					| Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке.
				a.btn.btn--upper(href="#") Читать далее

	.news__right
		include reviews.pug
