section.news

	.news__left
		nav.news__nav
			h3.news__title
				| Новости рынка

			ul.news__list
				each val in [1, 2, 3, 4]
					li(class = (val == 1 ? 'news__item--active' : '')).news__item
						a(href="#") Минстрой РФ издал указ для развития конкуренции на строительном рынке

			.news__pagination
				a(href="#").news__pagination-back Назад
				a(href="#").news__pagination-fow Вперед

		.news__content
			each val in [1, 2, 3, 4]
				article(class = (val == 1 ? 'news__article--active' : '')).news__article
					h4.news__article-title
						| Минстрой РФ издал указ для развития конкуренции на строительном рынке
					p.news__article-preview
						| Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке.
					a.btn.btn--upper(href="#") Читать далее

	.news__right
		include reviews.pug
