section.objects
	.objects__wrap
		h2.objects__title
			span Популярные варианты
		.objects__list

			.objects__item
				img.objects__img(src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px")
				.objects__content
					ul.objects__info
						li Название объекта
						li Место объекта
						li Метро объекта
						li Сроки сдачи
					ul.objects__info.objects__info--links
						li
							form(method="get" action="/object")
								input(type="hidden" name="popup" value="0")
								button.objects__info-link(type="submit") Студии от 1.5 млн. р.
						li
							a(href="#") 2 к. кв. от 2.5 млн. р.
						li
							a(href="#") 3 к. кв. от 3.5 млн. р.
				.objects__btn
					a.objects__link(href="/object") Подробнее

			.objects__item
				img.objects__img(src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px")
				.objects__content
					ul.objects__info
						li Название объекта
						li Место объекта
						li Метро объекта
						li Сроки сдачи
					ul.objects__info.objects__info--links
						li
							a(href="#") Студии от 1.5 млн. р.
						li
							a(href="#") 2 к. кв. от 2.5 млн. р.
						li
							a(href="#") 3 к. кв. от 3.5 млн. р.
				.objects__btn
					a.objects__link(href="/object") Подробнее

			.objects__item
				img.objects__img(src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px")
				.objects__content
					ul.objects__info
						li Название объекта
						li Место объекта
						li Метро объекта
						li Сроки сдачи
					ul.objects__info.objects__info--links
						li
							a(href="#") Студии от 1.5 млн. р.
						li
							a(href="#") 2 к. кв. от 2.5 млн. р.
						li
							a(href="#") 3 к. кв. от 3.5 млн. р.
				.objects__btn
					a.objects__link(href="/object") Подробнее

			.objects__item
				img.objects__img(src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px")
				.objects__content
					ul.objects__info
						li Название объекта
						li Место объекта
						li Метро объекта
						li Сроки сдачи
					ul.objects__info.objects__info--links
						li
							a(href="#") Студии от 1.5 млн. р.
						li
							a(href="#") 2 к. кв. от 2.5 млн. р.
						li
							a(href="#") 3 к. кв. от 3.5 млн. р.
				.objects__btn
					a.objects__link(href="/object") Подробнее

			.objects__item
				img.objects__img(src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px")
				.objects__content
					ul.objects__info
						li Название объекта
						li Место объекта
						li Метро объекта
						li Сроки сдачи
					ul.objects__info.objects__info--links
						li
							a(href="#") Студии от 1.5 млн. р.
						li
							a(href="#") 2 к. кв. от 2.5 млн. р.
						li
							a(href="#") 3 к. кв. от 3.5 млн. р.
				.objects__btn
					a.objects__link(href="/object") Подробнее

			.objects__item.objects__item--action
				h4.objects__item-title
					| Акция
				img.objects__img(src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px")
				.objects__content
					p
						| Текст акции
				.objects__btn
					a.objects__link.js--show-action-popup(href="#") Подробнее






