section.object-content
	.object-content__wrap
		.object-content__flex

			.object-content__block
				h3.object-content__title
					| Краткое описание
				ul.object-content__list
					li
						span Район:&nbsp;
						span Московский
					li
						span Метро:&nbsp;
						span Звездная 10 мин. пеш.
					li
						span Адрес:&nbsp;
						span Космонавтов пр., д.102
					li
						span Срок сдачи:&nbsp;
						span 4 кв. 2018
					li
						span Отделка:&nbsp;
						span С мебелью

			.object-content__block
				h3.object-content__title
					| Стоимость квартир
				ul.object-content__list.object-content__list--fixed-span
					li
						span 1 к. кв.:&nbsp;
						a.js--show-plans-0-popup(href="#")
							span от 3.5 млн. р.
							i
								include ../icons/eye.pug
					li
						span 2 к. кв.:&nbsp;
						a.js--show-plans-popup(href="#")
							span от 5.8 млн. р.
							i
								include ../icons/eye.pug
					li
						span 3 к. кв.:&nbsp;
						a.js--show-plans-popup(href="#")
							span от 9.1 млн. р.
							i
								include ../icons/eye.pug

				p.object-content__more
					| Посмотрите планировку

			.object-content__block.object-content__block--bordered
				h3.object-content__title
					| Варианты оплаты
				ul.object-content__list
					li
						span Ипотека
					li
						span Рассрочка
					//li
						span Материнский капитал
					li
						span 100% оплата
					//li
						span Субсидии

