section.object-img
	.object-img__wrap
		.object-img__flex

			.object-img__left
				.object-img__slider
					.object-img__slider-current
						img(src="./static/img/object-img/current.jpg" alt="Название объекта")

					ul.object-img__slider-list
						li.object-img__slider-item
							a(href="#")
								img(src="./static/img/object-img/item.jpg" alt="Описание объекта")
						li.object-img__slider-item
							a(href="#")
								img(src="./static/img/object-img/item.jpg" alt="Описание объекта")
						li.object-img__slider-item
							a(href="#")
								img(src="./static/img/object-img/item.jpg" alt="Описание объекта")

			.object-img__right
				.object-img__map
					img(src="./static/img/object-img/map.jpg")
				button.btn.btn--attention.btn--upper.btn--big.btn--attention-line.btn--no-pl-pr.js--show-consult-popup
					| Получить консультацию по объекту
