.popup.popup--large.popup--js-plans
	button.popup__close.js--close-popup &#10006;
	.object-plans
		.object-plans__wrap
			.object-plans__flex

				.object-plans__info

					.object-plans__tabs
						a.object-plans__tabs-item.object-plans__tabs-item--active(href="#")
							| 25 кв. м.
						a.object-plans__tabs-item(href="#")
							| 35 кв. м.
						a.object-plans__tabs-item(href="#")
							| 45 кв. м.

					.object-plans__blocks
						.object-plans__block
							h3.object-plans__block-title
								| ЖК «GREENЛАНДИЯ»
								small
									| 2 комнатная кв. 25 кв. м2

							ul.object-plans__block-list
								li
									span Адрес:
									span Александровской фермы пр. 72
								li
									span Метро:
									span Пролетарская

							ul.object-plans__block-list.object-plans__block-list--bold
								li
									span Стоимость при 100% оплате:
									span 4234433 руб
								li
									span Срок сдачи:
									span II кв. 2020 г.

							ul.object-plans__block-list.object-plans__block-list--distance
								li
									span Корпус:
									span Дом 20
								li
									span Секция:
									span 3

							ul.object-plans__block-list.object-plans__block-list--distance
								li
									span S общая:
									span 25
								li
									span S комнат:
									span 20

				.object-plans__plans
					.object-plans__plans-cta
						button.btn.js--show-consult-popup
							| Получить консультацию по объекту

					.object-plans__plans-btns
						button.object-plans__plans-btns-item.object-plans__plans-btns-item--active Квартира
						button.object-plans__plans-btns-item Поэтажная планировка

					.object-plans__plans-slider
						.object-plans__plans-slider-item
							img(src="" alt="")



