section.object-content
	.object-content__wrap
		.object-content__flex

			.object-content__block
				h3.object-content__title
					| Краткое описание
				ul.object-content__list
					li
						span Район:&nbsp;
						span Московский
					li
						span Метро:&nbsp;
						span Московские ворота
					li
						span Адрес:&nbsp;
						span Московский пр. 3
					li
						span Срок сдачи:&nbsp;
						span Июль 2020
					li
						span Отделка:&nbsp;
						span С мебелью

			.object-content__block
				h3.object-content__title
					| Стоимость квартир
				ul.object-content__list.object-content__list--fixed-span
					li
						span Студия:&nbsp;
						a(href="#") от 3 млн. р.
					li
						span 1 к. кв.:&nbsp;
						a(href="#") от 4 млн. р.
					li
						span 2 к. кв.:&nbsp;
						a(href="#") от 5 млн. р.
					li
						span 3 к. кв.:&nbsp;
						a(href="#") от 6 млн. р.
				p.object-content__more
					| Посмотрите планировку

			.object-content__block.object-content__block--bordered
				h3.object-content__title
					| Варианты оплаты
				ul.object-content__list
					li
						span Ипотека
					li
						span Рассрочка
					li
						span Материнский капитал
					li
						span 100% оплата
					li
						span Субсидии

