section.object-description
	.object-description__wrap
		h2.object-description__title
			| Описание ЖК «Баухаус»
		article.object-description__text
			p
				| Жилой комплекс BauHaus назван так в честь используемой школы архитектуры. Её философия заключается в применении правильных геометрических форм и соблюдения пропорций золотого сечения. Всё это делает конструкцию визуально лёгкой и эстетичной. Простор – ещё одна особенность данной архитектуры. Им обладают как холлы на этажах, лишённые перегруженности квартирами, так и сами квартиры. Кстати, отсутсвие в них несущих стен позволит вам сделать перепланировку. Вы сможете даже объединить две квартиры в одну.
			p
				| Сами квартиры оборудованы по европейским стандартам качества: каждая обеспечена микроклиматом и индивидуальным регулированием тепло- и водоснабжения. Вся инженерия скрыта - сети проходят в стяжке пола. Безопасность комплекса гарантируют закрытый внутренний двор, видеонаблюдение и ресепшен.
			p
				| Для удобства автолюбителей комплекс оборудован паркингом и двухуровневой автостоянкой. Вы сможете быстро добраться на любой этаж на скоростных лифтах производства компании KONE прямо из паркинга. На каждом этаже не более 8 квартир, что подарит благополучие и спокойствие жизни в доме. В районе расположения комплекса есть две школы и лицей, детские и спортивные площадки, а также супермаркеты и торговые комплексы. Проходящие Московский, Витебский и Дунайский проспекты делают передвижение по городу максимально простым. А до метро «Звездная» и «Купчино» 10 минут пешком.

		.object-description__btn
				button.btn.btn--attention.js--show-decription
					| Показать полное описание
