.popup.popup--large.popup--full.popup--js-plans-0
	button.popup__close.popup__close--bottom.js--close-popup &#10006;
	.object-plans
		.object-plans__wrap
			.object-plans__flex

				.object-plans__info

					.object-plans__tabs
						a.object-plans__tabs-item.object-plans__tabs-item--active(href="#")
							span 25 кв. м.
							span от 2 234 433 руб
							span 2 кв. 2020 г.
						a.object-plans__tabs-item(href="#")
							span 35 кв. м.
							span от 3 234 433 руб
							span 3 кв. 2020 г.
						a.object-plans__tabs-item(href="#")
							span 45 кв. м.
							span от 4 234 433 руб
							span 4 кв. 2020 г.

					.object-plans__blocks

						each val in [2, 3, 4]
							div(class=(val == 2 ? 'object-plans__block--active' : '')).object-plans__block
								h3.object-plans__block-title
									| ЖК «GREENЛАНДИЯ»
									small
										| #{val} комнатная кв. 25 кв. м2

								.object-plans__info-btn
									button.btn.btn--attention.js--show-plans-info
										| Показать информацию

								ul.object-plans__block-list
									li
										span Адрес:
										span Александровской фермы пр. 72
									li
										span Метро:
										span Пролетарская

								ul.object-plans__block-list.object-plans__block-list--distance
									li
										span S общая:
										span 25
									li
										span S комнат:
										span 20

				.object-plans__plans
					.object-plans__plans-cta
						button.btn.js--show-consult-popup
							| Получить консультацию по объекту

					each val in [2, 3, 4]
						.object-plans__plans-content(class = (val == 2 ? 'object-plans__plans-content--active' : ''))
							.object-plans__plans-btns
								button.object-plans__plans-btns-item.object-plans__plans-btns-item--active.js--show-room Квартира
								button.object-plans__plans-btns-item.js--show-floor Поэтажная планировка


							.object-plans__plans-slider.object-plans__plans-slider--active.js--room-slider
									.object-plans__plans-slider-item
										img(src="/static/images/pylkovskiy/k2_39m.jpg" alt="")

							.object-plans__plans-slider.js--floor-slider
									.object-plans__plans-slider-item
										img(src="/static/images/pylkovskiy/k2_39m f.jpg" alt="")



