section.object-description
	.object-description__wrap
		h2.object-description__title
			| Описание объекта
		article.object-description__text
			p
				| Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.
			p
				| Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.
			p
				| Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.
