section.partners
	.partners__wrap
		.partners__flex
			h3.partners__title
				| Наши партнёры
			ul.partners__list
				li.partners__item
					a(href="#")
						img(src="./static/img/partners/visa.png" alt="Название партнёра")
				li.partners__item
					a(href="#")
						img(src="./static/img/partners/visa.png" alt="Название партнёра")
				li.partners__item
					a(href="#")
						img(src="./static/img/partners/visa.png" alt="Название партнёра")
			button.btn.btn--bigger.btn--big-text.js--show-partners-popup Стать партнёром
