section.partners
	.partners__wrap
		.partners__flex
			h3.partners__title
				| Наши партнёры
			.partners__container
				ul.partners__list
					each val in [1, 2, 3, 4, 5, 6, 7, 8]
						li.partners__item
							div
								img(src="./static/img/partners/" + val + ".jpg" alt="Партнёр ТИМ недвижимость")
			button.btn.btn--bigger.btn--big-text.js--show-partners-popup Стать партнёром
