section.reviews
	h3.reviews__title
		| Отзывы о нашей работе
	.reviews__flex
		ul.reviews__list
			li.reviews__item--active.reviews__item
				iframe(src="//vk.com/video_ext.php?oid=-133568552&id=456239017&hash=cf7d528439d66265&sd" width="305" height="235" frameborder="0" allowfullscreen)
				//a(href="#").reviews__watch.js--show-video Смотреть отзыв

		ul.reviews__switch
			li
				a.reviews__btn--active.reviews__btn Ревью
