section.reviews
	h3.reviews__title
		| Отзывы о нашей работе
	.reviews__flex
		ul.reviews__list
			li.reviews__item
				a.reviews__watch.js--show-video(href="#") Смотреть отзыв
		ul.reviews__switch
			li
				a.reviews__btn.reviews__btn--active(href="#") Ревью 1
			li
				a.reviews__btn(href="#") Ревью 2
			li
				a.reviews__btn(href="#") Ревью 3
			li
				a.reviews__btn(href="#") Ревью 4
