section.reviews
	h3.reviews__title
		| Отзывы о нашей работе
	.reviews__flex
		ul.reviews__list
			each val in [1, 2, 3, 4]
				li(class=(val == 1 ? 'reviews__item--active' : '')).reviews__item
					a(href="#").reviews__watch.js--show-video Смотреть отзыв #{val}

		ul.reviews__switch
			each val in [1, 2, 3, 4]
				li
					a(class=(val == 1 ? 'reviews__btn--active' : '') href="#").reviews__btn Ревью #{val}
