section.services
	.services__wrap
		h3.services__title
			| Предоставляемые услуги
		ul.services__list

			li.services__item
				.services__img
					img(src="./static/img/services/repair.svg" alt="Ремонт квартир")
				h4.services__item-title
					| Ремонт квартир
				p.services__descr
					| Описание услуги
				a.btn(href="#") Подробнее

			li.services__item
				.services__img
					img(src="./static/img/services/getting.svg" alt="Приёмка квартир")
				h4.services__item-title
					| Приёмка квартир
				p.services__descr
					| Описание услуги
				a.btn(href="#") Подробнее

			li.services__item
				.services__img
					img(src="./static/img/services/design.svg" alt="Дизайнерские услуги")
				h4.services__item-title
					| Дизайнерские услуги
				p.services__descr
					| Описание услуги
				a.btn(href="#") Подробнее
