section.services
	.services__wrap
		h3.services__title
			| Предоставляемые услуги
		ul.services__list

			li.services__item
				.services__img
					img(src="./static/img/services/repair.svg" alt="Ремонт квартир")
				h4.services__item-title
					| Ремонт жилых и&nbsp;нежилых&nbsp;объектов
				p.services__descr
					| Проводим весь цикл ремонта от проектирования до реализации
				a.btn(href="#") Подробнее

			li.services__item
				.services__img
					img(src="./static/img/services/getting.svg" alt="Приёмка квартир")
				h4.services__item-title
					| Подбор новостроек в&nbsp;СПб&nbsp;и&nbsp;ЛО
				p.services__descr
					| Только проверенные застройщики, сдают в&nbsp;срок и&nbsp;без&nbsp;проблем
				a.btn(href="#") Подробнее

			li.services__item
				.services__img
					img(src="./static/img/services/design.svg" alt="Дизайнерские услуги")
				h4.services__item-title
					| Разработка дизайн&nbsp;проекта
				p.services__descr
					| Любых объектов недвижимости с&nbsp;3D&nbsp;реализацией
				a.btn(href="#") Подробнее
