ul.socials
	li.socials__item.socials__item--vk
		a(href="https://vk.com/timndv" target="_blank" rel="nofollow")
			span ВКонтакте
	li.socials__item.socials__item--fb
		a(href="#")
			span Youtube
	li.socials__item.socials__item--yt
		a(href="#")
			span Facebook
