.banner {
	display: block;
	position: relative;

	padding-bottom: 40px;

	@media @tablet {
		padding-bottom: 45px;
	}

	@media @mobile {
		padding-bottom: 30px;
	}

	&::after {
		content: "";

		display: block;
		position: absolute;

		bottom: 0;
		right: 40px;

		width: 30px;
		height: 30px;

		background: data-uri('../img/icons/arrow.svg') center no-repeat;
		background-size: contain;

		transition: .3s;

		cursor: pointer;

		@media @tablet {
			display: none;
		}

		&:hover {
			background-image: data-uri('../img/icons/arrow--active.svg');
		}
	}

	&__seminar {
		display: flex;
		box-sizing: border-box;
		position: relative;
		justify-content: flex-end;

		padding-left: 5%;
		width: 88%;

		background: data-uri('../img/ban/seminar.jpg') right center;
		background-size: cover;

		@media @laptop {
			width: 90%;
		}

		@media @tablet {
			width: 100%;
			padding: 0 5%;
		}

		@media @mobile {
			background-position: center;
		}

		&-wrap {
			display: block;
			position: relative;

			max-width: 1024px;

			padding: 45px 0;

			@media @mobile {
				padding: 30px 0;
			}
		}

		&::after {
			content: "";

			display: block;
			position: absolute;

			width: 100%;
			height: 100%;

			right: -3%;
			bottom: -40px;

			z-index: -1;

			background: linear-gradient(to right, #fff, @altAkcentColor);

			@media @laptop {
				right: -3%;
				bottom: -40px;
			}

			@media @tablet {
				display: none;
			}
		}
	}

	&__title {
		.section-header();
		box-sizing: border-box;
		max-width: 60%;
		line-height: 1.1;

		@media @tablet {
			max-width: 100%;
		}

		@media @mobile {
			font-size: 22px;
			line-height: 25px;
			margin-bottom: 30px;
		}
	}

	&__facts {
		display: flex;

		list-style-type: none;

		margin-bottom: 40px;

		@media @tablet {
			margin-bottom: 30px;
			flex-wrap: wrap;
		}

		li {
			margin-right: 25px;

			@media @tablet {
				margin-bottom: 15px;
				font-size: 16px;
				line-height: 20px;
			}

			@media @mobile {
				flex: 1 1 100%;
				margin-right: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&__video-btn {
		.play-btn();

		top: 50%;
		right: 20%;
		transform: translate(50%, -50%);

		@media @laptop {
			right: 15%;
		}

		@media @tablet {
			right: 5%;
		}

		@media @mobile {
			position: relative;
			top: auto;
			right: auto;
			transform: none;
			margin: 0 auto 30px;
		}
	}

	&__cta {
		@media @tablet {
			display: flex;
			align-items: flex-start;
		}

		@media @mobile {
			flex-direction: column;
			align-items: center;
		}
	}
}
