.object-description {
	display: block;

	&__wrap {
		.wrap();
	}

	&__title {
		.section-header();
		margin-bottom: 45px;
	}

	&__text {
		p {
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
