@keyframes slider {
	from {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-95%);
	}
	to {
		transform: translateX(0);
	}
}

.partners {
	display: block;
	padding: 100px 0;

	@media @laptop {
		padding: 60px 0;
	}

	@media @mobile {
		padding: 45px 0;
	}

	&--object {
		padding: 0 0 60px;

		@media @mobile {
			padding: 0;
		}

		.partners__container {
			justify-content: flex-start;

			@media @laptop {
				justify-content: center;
			}
		}

		.partners__container {
			flex: 0 0 55%;

			@media @laptop {
				flex: 0 0 100%;
			}
		}

		.partners__list {
			animation: slider 150s infinite linear;
		}
	}

	&__wrap {
		.wrap();
	}

	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;

		@media @laptop {
			flex-wrap: wrap;
		}
	}

	&__title {
		.section-header();

		margin-bottom: 0;
		margin-right: 90px;

		line-height: 1;

		flex: 0 0 320px;

		@media @laptop {
			margin-bottom: 60px;
			margin-right: 0;

			flex: 0 0 100%;
			text-align: center;
		}

		@media @mobile {
			margin-bottom: 45px;
			margin-right: 0;
		}
	}

	&__container {
		display: block;
		position: relative;

		flex: 0 0 45%;
		height: 100px;

		margin-right: 90px;
		overflow: hidden;

		@media @laptop {
			margin-right: 0;
			margin-bottom: 60px;

			flex: 0 0 100%;
		}

		@media @laptop {
			height: 80px;
		}

		@media @mobile {
			margin-bottom: 45px;
		}
	}

	&__list {
		position: absolute;

		display: flex;
		align-items: center;
		list-style-type: none;

		animation: slider 300s infinite linear;
	}

	&__item {
		display: block;
		margin-right: 45px;

		@media @mobile {
			margin-right: 30px;
		}

		div {
			display: block;
			width: 200px;

			@media @tablet {
				width: 160px;
			}

			@media @mobile {
				width: 140px;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}
