.search {
	display: flex;
	justify-content: flex-end;

	padding: 50px 0;

	@media @tablet {
		padding: 0 0 45px;
	}

	@media @mobile {
		padding: 0 0 30px;
	}

	&--mobile {
		display: block;
		padding: 0;

		text-align: left;
	}

	&__left {
		display: block;

		box-sizing: border-box;

		width: 60%;
		flex: 1 1 60%;

		padding-left: 3%;
		padding-right: 30px;

		@media @laptop {
			flex: 1 1 50%;
			width: 50%;
		}

		@media @tablet {
			flex: 1 1 100%;
			width: 100%;
			padding: 0;
		}
	}

	&__right {
		display: block;

		box-sizing: border-box;

		width: 40%;
		flex: 1 1 40%;

		@media @laptop {
			width: 50%;
			flex: 1 1 50%;
		}

		@media @tablet {
			display: none;
		}
	}

	&__title {
		.section-header();
		margin-bottom: 50px;

		@media @laptop {
			margin-bottom: 40px;
		}

		@media @tablet {
			margin-bottom: 45px;
			padding: 0 15px;
		}

		@media @mobile {
			margin-bottom: 30px;
		}
	}

	&__map {
		display: block;

		height: 456px;

		background: url(../img/map/img.jpg) center no-repeat;
		background-size: cover;

		@media @laptop {
			height: 360px;
		}

		@media @tablet {
			height: 300px;
		}
	}

	&__content {
		display: block;
		position: relative;

		border: 12px solid @altAkcentColor;
		border-right: none;
		border-top: none;

		padding: 70px 70px 35px;
		padding-right: 0;

		@media @laptop {
			padding: 40px 40px 20px;
			border-width: 8px;
		}

		@media @tablet {
			border: none;
			padding: 0;
		}

		&-title {
			display: block;

			font-size: 23px;
			line-height: 25px;
			font-weight: bold;

			margin-bottom: 20px;

			@media @laptop {
				font-size: 20px;
				line-height: 20px;
			}
		}

		&::before {
			content: "";

			display: block;
			position: absolute;

			left: -12px;
			top: -12px;

			height: 12px;
			width: 86%;

			background-color: @altAkcentColor;

			@media @laptop {
				left: -8px;
				top: -8px;
				height: 8px;
			}

			@media @tablet {
				display: none;
			}
		}
	}

	&__step {
		display: block;
		position: absolute;

		width: 14%;

		right: 6px;
		top: -22px;

		text-align: center;

		@media @tablet {
			position: relative;
			width: 100%;

			right: auto;
			top: auto;

			text-align: right;

			margin-bottom: 30px;
		}

		&-curr {
			display: inline-block;
			font-size: 36px;
			font-weight: bold;
			line-height: 27px;

			vertical-align: bottom;
		}

		&-of {
			display: inline-block;
			vertical-align: bottom;
			font-size: 22px;
			line-height: 22px;
		}
	}

	&__form {
		display: block;
		position: relative;

		overflow: hidden;
	}

	&__block {
		display: block;
		position: absolute;

		top: 0;
		left: 0;

		width: 100%;

		margin-bottom: 30px;

		transform: translateX(200%);
		transition: .45s;

		background: #fff;

		will-change: transform;

		@media @laptop {
			margin-bottom: 20px;
		}

		&--active {
			position: relative;
			transform: translateX(0);
		}

		&--visited {
			transform: translateX(-200%);
		}

		&-title {
			font-size: 23px;
			line-height: 25px;

			margin-bottom: 30px;

			@media @laptop {
				font-size: 20px;
				line-height: 20px;
				margin-bottom: 20px;
			}
		}

		&-btn {
			display: block;
			max-width: 400px;

			text-align: right;
			margin-top: 30px;

			@media @laptop {
				margin-top: 20px;
			}

			&--two {
				display: flex;
				justify-content: space-between;
			}

			&--left {
				text-align: left;
			}

			button {
				display: inline-block;

				font-size: 21px;
				line-height: 23px;
				font-weight: bold;
				color: @textColor;

				background: none;
				border: none;

				cursor: pointer;

				@media @laptop {
					font-size: 20px;
					line-height: 20px;
				}

				&::after {
					content: "";

					display: inline-block;
					vertical-align: middle;

					width: 23px;
					height: 23px;

					background: url(../img/icons/next.png) center no-repeat;
					background-size: 150%;

					@media @laptop {
						width: 20px;
						height: 20px;
					}
				}

				&:hover {
					text-decoration: underline;
				}
			}

			.search__block-prev-btn {
				font-weight: normal;

				&::before {
					content: "";

					display: inline-block;
					vertical-align: middle;

					width: 23px;
					height: 23px;

					background: url(../img/icons/next.png) center no-repeat;
					background-size: 150%;

					transform: rotate(180deg);

					@media @laptop {
						width: 20px;
						height: 20px;
					}
				}

				&::after {
					display: none;
				}
			}
		}

		&-select {
			display: block;
			position: relative;

			margin-bottom: 30px;
			margin-left: 20px;

			height: 30px;
			width: 200px;

			font-size: 16px;
			line-height: 20px;
			color: @textColor;

			z-index: 5;

			ul {
				position: absolute;
				box-sizing: border-box;

				overflow: hidden;

				height: 30px;
				width: 200px;

				background: #fff;
				border: 1px solid @textColor;
				border-radius: 3px;

				&:hover {
					height: auto;
				}
			}

			label {
			  display: block;
			  position: relative;
			  box-sizing: border-box;

			  height: 30px;

			  padding: 5px 10px;

			  vertical-align: middle;

			  transition: .3s background;

			  overflow: hidden;

			  &:hover {
				  background: @akcentColor;
				  cursor: pointer;
				}
			}

			li {
				display: block;
				position: relative;

				&:first-of-type {

					&::after {
						content: "";

				    display: block;
				    position: absolute;

				    top: 50%;
				    right: 5px;

				    transform: translateY(-50%) rotate(180deg);

				    width: 15px;
				    height: 15px;

				    background: url(../img/icons/up.png) 50% no-repeat;
				    background-size: contain;
					}

					label:hover {
					  background: inherit;
					  cursor: auto;
					}
				}
			}

			li

			input {
			  display: none;
			}

			input:checked + label {
				background: @akcentColor;
			}
		}
	}

	&__label {
		display: block;
		position: relative;

		margin-bottom: 15px;
		padding-left: 60px;

		overflow: hidden;

		cursor: pointer;

		&:last-of-type {
			margin-bottom: 0;
		}

		@media @laptop {
			padding-left: 40px;
		}

		@media @tablet {
			padding-left: 30px;
		}

		span {
			display: block;

			padding-left: 20px;

			height: 27px;
			line-height: 27px;

			transition: .3s;

			@media @tablet {
				padding-left: 10px;
			}
		}

		input {
			position: absolute;
			left: -90px;
		}

		&::before {
			content: "";

			position: absolute;

			top: 0;
			left: 20px;

			width: 27px;
			height: 27px;

			background: url(../img/icons/plus.png) center no-repeat;
			background-size: 150%;

			transform: rotate(45deg);
			transition: .3s;

			@media @tablet {
				left: 0;
			}
		}

		&:hover {
			span {
				background: @akcentColor;

				@media @tablet {
					border: transparent;
				}
			}
		}

		&--active {
			&::before {
				transform: rotate(0);
			}

			span {
				background: @akcentColor;
			}
		}
	}

	&__results {
		display: block;
		max-width: 400px;

		text-align: center;

		&-number {
			display: inline-block;

			font-size: 16px;
			line-height: 20px;

			margin-right: 20px;

			span {
				margin-right: 5px;

				&:last-of-type {
					margin-right: 0;
				}
			}

			@media @tablet {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
}


.loop(@counter) when (@counter < 9) {
	.loop((@counter + 1));

	.search__block:nth-of-type(@{counter}) {
		z-index: @counter;
	}
}

.loop(0);
