extends ../layouts/base

block seo
	title Заголовок
	meta(name="description" content="Описание")

block main-content
	include ../blocks/banner.pug
	include ../blocks/search.pug
	include ../blocks/objects.pug
	include ../blocks/services.pug
	include ../blocks/news.pug
	include ../blocks/company.pug
	include ../blocks/partners.pug
