extends ../layouts/base

block seo
	title Рассчёт ипотечной ставки | timndv
	meta(name="description" content="Описание")

block main-content
	section.object-description
		.object-description__wrap
			h1.object-description__title
				| Подбор ипотечной программы от ТИМ Недвижимость
			article.object-description__text.object-description__text--visible
				p
					| Выбор программы ипотеки – ответственное дело, ошибка в котором стоит денег и нервов. Поэтому всем, кто покупает квартиру через нас, мы помогаем в этом выборе бесплатно.
				p
					| Всю работу по документам и подбору программы берём на себя:
				ol
					li Проводим расчёты вариантов оплаты исходя из ваших возможностей. Подбираем программу, которую вы сможете выполнить.
					li Отправляем заявки в банки, которые могут предоставить рассчитанную под вас программу, и получаем ответы. После одобрения вместе с вами выбираем банк.
					li Готовим все необходимые документы – от вас нужны будут только юридические данные.
					li Помогаем с проверкой и подписанием договоров, приёмкой квартиры и составляем смету на ремонт.
					li Сдаём документы в регистрационную группу застройщика.
				p
					| Наша компания предоставляет данную услугу и людям, которые не покупают через нас ипотеку. Но уже на платной основе. Сумма оплаты оговаривается индивидуально.
				p
					| Если вы решите подобрать программу ипотеки самостоятельно, то дадим два совета:
				ul
					li Не бросайтесь на дешёвые цены – если вы не доплачиваете в одном месте, значит, вы рано или поздно переплатите в другом. И переплата может быть больше сэкономленных денег.
					li Проверяйте документы от и до. Задавайте вопросы банку по непонятным или нераскрытым пунктам в договорах. Всё скрывается в мелочах.
				p
					| Рассчитать примерный ежемесячный платёж и ознакомиться со списком банков, через которых мы оформляем ипотеку, вы можете ниже.

	include ../blocks/partners.pug
	include ../blocks/count.pug

	a.tablet-call(href="tel:+78124081892")
		i.fa.fa-phone(aria-hidden="true")
