extends ../layouts/base

block seo
	title Заголовок
	meta(name="description" content="Описание")

block main-content
	include ../blocks/object-img.pug
	include ../blocks/object-content.pug
	include ../blocks/object-description.pug
	include ../blocks/count.pug
	include ../blocks/objects--object.pug
	include ../blocks/popup--object.pug
	include ../blocks/object-plans.pug
	include ../blocks/object-action.pug

