<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/style.min.css">
		<title>Заголовок</title>
		<meta name="description" content="Описание">
	</head>
	<body>
		<header class="main-header">
			<div class="main-header__wrap">
				<div class="main-header__top">
					<div class="main-header__top-left"><a class="main-header__logo" href="/">
							<div class="main-header__logo-img">
								<svg class="logo-img" x="0px" y="0px" viewBox="0 0 330 342.7" enable-background="new 0 0 330 342.7" xml:space="preserve">
									<g>
										<g>
											<g>
												<polygon fill="#125FC5" points="233.4,75 283,75 307.4,32.8 191.2,32.8"></polygon>
												<polygon fill="#125FC5" points="275.6,117.3 295.8,137.4 307.4,117.3"></polygon>
												<polygon fill="#125FC5" points="138.9,32.8 82.4,32.8 58,75 96.6,75"></polygon>
												<polygon fill="#125FC5" points="51.5,222.5 22.6,272.4 67.7,272.4 43.6,314.5 47.3,314.6 95.8,314.6 113.3,284.3"></polygon>
												<polygon fill="#125FC5" points="186.4,314.6 193.5,314.6 203,298"></polygon>
											</g>
											<g>
												<path fill="#125FC5" d="M191.2,32.8l-5.6-5.6c-11.4-11.4-29.8-11.4-41.2,0l-5.6,5.6H191.2z"></path>
												<polygon fill="#F4BB2E" points="213.8,194.8 258.6,117.3 275.6,117.3 233.4,75 185.5,75 161.1,117.3 209.8,117.3 165,194.8"></polygon>
												<path fill="#125FC5" d="M144.9,314.6l-0.2-0.1l44.7-77.4h-48.9l-27.3,47.3l31.1,31.1c11.4,11.4,29.8,11.4,41.2,0l0.8-0.8H144.9z"></path>
												<path fill="#125FC5" d="M136.6,75H96.6l-75.7,75.7c-11.4,11.4-11.4,29.8,0,41.2l30.5,30.5L136.6,75z"></path>
												<path fill="#125FC5" d="M309.1,150.7l-13.4-13.4L203,298l106.1-106.1C320.5,180.6,320.5,162.1,309.1,150.7z"></path>
											</g>
										</g>
									</g>
								</svg>
							</div>
							<h4 class="main-header__logo-text">ТИМ Недвижимость
								<p>Продажа недвижимости в&nbsp;Санкт-Петербурге и&nbsp;ЛО</p>
							</h4></a></div>
					<div class="main-header__top-right">
						<div class="main-header__tel"><a href="tel:+78124018892">+7 (812) 408-18-92</a>
							<button class="btn btn--upper js--show-call-popup">Заказать звонок</button>
						</div>
					</div>
				</div>
				<div class="main-header__bottom">
					<nav class="main-nav"><a class="main-nav__item main-nav__item--attention" href="#">Новостройки</a><a class="main-nav__item main-nav__item--bigger main-nav__item--attention" href="#">Квартиры в готовых домах</a><a class="main-nav__item main-nav__item--bigger main-nav__item--attention" href="#">Вторичная недвижимость</a><a class="main-nav__item" href="#">Услуги</a><a class="main-nav__item" href="#">Ипотека</a><a class="main-nav__item main-nav__item--bigger" href="#">Условия покупки</a></nav>
				</div>
			</div>
		</header>
		<section class="banner">
			<div class="banner__seminar">
				<div class="banner__seminar-wrap">
					<h2 class="banner__title">Узнайте, как&nbsp;избежать ошибок при&nbsp;выборе квартиры на&nbsp;открытом семинаре 22&nbsp;мая!</h2>
					<ul class="banner__facts">
						<li>19 часов, Каменоостровский пр. 3</li>
						<li>Вход свободный</li>
						<li>Осталось 20 мест</li>
					</ul><a class="banner__video-btn js--show-seminar-video" href="#">Смотреть видео-презентацию</a>
					<div class="banner__cta">
						<button class="btn btn--attention btn--bold btn--big btn--mr js--show-register-seminar-popup">Зарегистрироваться на семинар</button><a class="btn btn--bold btn--big" href="#">Посмотреть отзывы</a>
					</div>
				</div>
			</div>
		</section>
		<section class="search">
			<div class="search__left">
				<h2 class="search__title">Объекты на карте</h2>
				<div class="search__map"></div>
			</div>
			<div class="search__right">
				<div class="search__content">
					<div class="search__step"><span class="search__step-curr">1</span><span class="search__step-of">&nbsp;/ 4</span></div>
					<h3 class="search__content-title">Найдите свой идеальный вариант</h3>
					<form class="search__form" method="" action="">
						<div class="search__block search__block--active">
							<div class="search__block-title">Выберите количество комнат</div>
							<label class="search__label"><span>Студия</span>
								<input type="checkbox" name="rooms" value="studio">
							</label>
							<label class="search__label"><span>1 комната</span>
								<input type="checkbox" name="rooms" value="one">
							</label>
							<label class="search__label"><span>2 комнаты</span>
								<input type="checkbox" name="rooms" value="two">
							</label>
							<label class="search__label"><span>3 комнаты</span>
								<input type="checkbox" name="rooms" value="three">
							</label>
							<label class="search__label"><span>Больше 3-ех комнат</span>
								<input type="checkbox" name="rooms" value="more">
							</label>
							<div class="search__block-btn">
								<button class="js--next-btn">Далее</button>
							</div>
						</div>
						<div class="search__block">
							<div class="search__block-title">Выберите стоимость</div>
							<label class="search__label"><span>до 2 млн.</span>
								<input type="checkbox" name="price" value="2">
							</label>
							<label class="search__label"><span>от 2 до 3 млн.</span>
								<input type="checkbox" name="price" value="3">
							</label>
							<label class="search__label"><span>от 3 до 4 млн.</span>
								<input type="checkbox" name="price" value="4">
							</label>
							<label class="search__label"><span>от 4 до 5 млн.</span>
								<input type="checkbox" name="price" value="5">
							</label>
							<label class="search__label"><span>Больше 5 млн.</span>
								<input type="checkbox" name="price" value="more">
							</label>
							<div class="search__block-btn search__block-btn--two">
								<button class="search__block-prev-btn js--prev-btn">Назад</button>
								<button class="js--next-btn">Далее</button>
							</div>
						</div>
						<div class="search__block">
							<div class="search__block-title">Выберите район и год сдачи</div>
							<label class="search__label">
								<select multiple name="place">
									<option disabled>Выберите районы</option>
									<option value="Невский">Невский р-н</option>
									<option value="Невский">Невский р-н</option>
									<option value="Невский">Невский р-н</option>
								</select>
							</label>
							<label class="search__label"><span>2017 год</span>
								<input type="checkbox" name="year" value="2017">
							</label>
							<label class="search__label"><span>2018 год</span>
								<input type="checkbox" name="year" value="2018">
							</label>
							<label class="search__label"><span>2019 год</span>
								<input type="checkbox" name="year" value="2019">
							</label>
							<label class="search__label"><span>2020 год</span>
								<input type="checkbox" name="year" value="2020">
							</label>
							<div class="search__block-btn search__block-btn--two">
								<button class="search__block-prev-btn js--prev-btn">Назад</button>
								<button class="js--next-btn">Далее</button>
							</div>
						</div>
						<div class="search__block">
							<div class="search__block-title">Варианты оплаты</div>
							<label class="search__label"><span>Рассрочка</span>
								<input type="checkbox" name="payment" value="Рассрочка">
							</label>
							<label class="search__label"><span>Ипотека</span>
								<input type="checkbox" name="payment" value="Ипотека">
							</label>
							<label class="search__label"><span>Материнский капитал</span>
								<input type="checkbox" name="payment" value="Материнский капитал">
							</label>
							<label class="search__label"><span>Военная ипотека</span>
								<input type="checkbox" name="payment" value="Военная ипотека">
							</label>
							<label class="search__label"><span>Субсидии</span>
								<input type="checkbox" name="payment" value="Субсидии">
							</label>
							<div class="search__block-btn search__block-btn--left">
								<button class="search__block-prev-btn js--prev-btn">Назад</button>
							</div>
						</div>
						<div class="search__results">
							<div class="search__results-number"><span>Подобрано</span><span class="js--results-number">256</span><span>вариантов</span></div>
							<button class="btn btn--upper" type="submit">Показать</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<section class="objects">
			<div class="objects__wrap">
				<h2 class="objects__title">Популярные варианты</h2>
				<div class="objects__list">
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
					<div class="objects__item objects__item--action">
						<h4 class="objects__item-title">Акция</h4><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<p>Текст акции</p>
						</div>
						<div class="objects__btn"><a class="objects__link js--show-action-popup" href="#">Подробнее</a></div>
					</div>
				</div>
			</div>
		</section>
		<section class="services">
			<div class="services__wrap">
				<h3 class="services__title">Предоставляемые услуги</h3>
				<ul class="services__list">
					<li class="services__item">
						<div class="services__img"><img src="./static/img/services/repair.svg" alt="Ремонт квартир"></div>
						<h4 class="services__item-title">Ремонт квартир</h4>
						<p class="services__descr">Описание услуги</p><a class="btn" href="#">Подробнее</a>
					</li>
					<li class="services__item">
						<div class="services__img"><img src="./static/img/services/getting.svg" alt="Приёмка квартир"></div>
						<h4 class="services__item-title">Приёмка квартир</h4>
						<p class="services__descr">Описание услуги</p><a class="btn" href="#">Подробнее</a>
					</li>
					<li class="services__item">
						<div class="services__img"><img src="./static/img/services/design.svg" alt="Дизайнерские услуги"></div>
						<h4 class="services__item-title">Дизайнерские услуги</h4>
						<p class="services__descr">Описание услуги</p><a class="btn" href="#">Подробнее</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="news">
			<div class="news__left">
				<nav class="news__nav">
					<h3 class="news__title">Новости рынка</h3>
					<ul class="news__list">
						<li class="news__item--active news__item"><a href="#">Минстрой РФ издал указ для развития конкуренции на строительном рынке</a></li>
						<li class="news__item"><a href="#">Минстрой РФ издал указ для развития конкуренции на строительном рынке</a></li>
						<li class="news__item"><a href="#">Минстрой РФ издал указ для развития конкуренции на строительном рынке</a></li>
						<li class="news__item"><a href="#">Минстрой РФ издал указ для развития конкуренции на строительном рынке</a></li>
					</ul>
					<div class="news__pagination"><a class="news__pagination-back" href="#">Назад</a><a class="news__pagination-fow" href="#">Вперед</a></div>
				</nav>
				<div class="news__content">
					<article class="news__article--active news__article">
						<h4 class="news__article-title">Минстрой РФ издал указ для развития конкуренции на строительном рынке</h4>
						<p class="news__article-preview">Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке.</p><a class="btn btn--upper" href="#">Читать далее</a>
					</article>
					<article class="news__article">
						<h4 class="news__article-title">Минстрой РФ издал указ для развития конкуренции на строительном рынке</h4>
						<p class="news__article-preview">Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке.</p><a class="btn btn--upper" href="#">Читать далее</a>
					</article>
					<article class="news__article">
						<h4 class="news__article-title">Минстрой РФ издал указ для развития конкуренции на строительном рынке</h4>
						<p class="news__article-preview">Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке.</p><a class="btn btn--upper" href="#">Читать далее</a>
					</article>
					<article class="news__article">
						<h4 class="news__article-title">Минстрой РФ издал указ для развития конкуренции на строительном рынке</h4>
						<p class="news__article-preview">Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке. Минстрой РФ издал указ для развития конкуренции на строительном рынке.</p><a class="btn btn--upper" href="#">Читать далее</a>
					</article>
				</div>
			</div>
			<div class="news__right">
				<section class="reviews">
					<h3 class="reviews__title">Отзывы о нашей работе</h3>
					<div class="reviews__flex">
						<ul class="reviews__list">
							<li class="reviews__item--active reviews__item"><a class="reviews__watch js--show-video" href="#">Смотреть отзыв 1</a></li>
							<li class="reviews__item"><a class="reviews__watch js--show-video" href="#">Смотреть отзыв 2</a></li>
							<li class="reviews__item"><a class="reviews__watch js--show-video" href="#">Смотреть отзыв 3</a></li>
							<li class="reviews__item"><a class="reviews__watch js--show-video" href="#">Смотреть отзыв 4</a></li>
						</ul>
						<ul class="reviews__switch">
							<li><a class="reviews__btn--active reviews__btn" href="#">Ревью 1</a></li>
							<li><a class="reviews__btn" href="#">Ревью 2</a></li>
							<li><a class="reviews__btn" href="#">Ревью 3</a></li>
							<li><a class="reviews__btn" href="#">Ревью 4</a></li>
						</ul>
					</div>
				</section>
			</div>
		</section>
		<section class="company">
			<div class="company__wrap">
				<h3 class="company__title">О компании</h3>
				<p class="company__descr">Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании Описание компании</p>
				<div class="company__video">
					<button class="company__video-play js--show-video"></button>
				</div>
			</div>
		</section>
		<section class="partners">
			<div class="partners__wrap">
				<div class="partners__flex">
					<h3 class="partners__title">Наши партнёры</h3>
					<ul class="partners__list">
						<li class="partners__item"><a href="#"><img src="./static/img/partners/visa.png" alt="Название партнёра"></a></li>
						<li class="partners__item"><a href="#"><img src="./static/img/partners/visa.png" alt="Название партнёра"></a></li>
						<li class="partners__item"><a href="#"><img src="./static/img/partners/visa.png" alt="Название партнёра"></a></li>
					</ul>
					<button class="btn btn--bigger btn--big-text js--show-partners-popup">Стать партнёром</button>
				</div>
			</div>
		</section>
		<div class="popup popup--js-partners">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<h4 class="popup__title">Партнёрство</h4>
				<p class="popup__text">Есть&nbsp;предложение? Давайте&nbsp;обсудим!</p>
				<form class="popup__form js--form" method="post" action="/partners" data-msg="Мы получили ваше предложение! Скоро ответим!">
					<label>
						<p>Ваш телефон или&nbsp;почта</p>
						<input type="text" name="contact" placeholder="ivanov@company.ru">
					</label>
					<label>
						<p>Ваше предложение</p>
						<textarea name="msg" placeholder="Вкратце опишите ваше предложение" rows="5"></textarea>
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Отправить предложение</button>
				</form>
			</div>
		</div>
		<footer class="footer">
			<section class="footer-search">
				<div class="footer-search__content">
					<h3 class="footer-search__title">Поиск недвижимости</h3>
					<ul class="footer-search__list">
						<li class="footer-search__item"><a href="#">Район</a></li>
						<li class="footer-search__item"><a href="#">Метро</a></li>
						<li class="footer-search__item"><a href="#">Застройщики</a></li>
						<li class="footer-search__item"><a href="#">Год сдачи</a></li>
						<li class="footer-search__item"><a href="#">Способы покупки</a></li>
					</ul><img class="footer-search__decor-img" src="./static/img/search/bg.png" alt="Поиск недвижимости">
				</div>
			</section>
			<nav class="footer-nav">
				<div class="footer__wrap">
					<ul class="footer-nav__list">
						<li class="footer-nav__item"><a href="#">Новостройки</a></li>
						<li class="footer-nav__item footer-nav__item--bigger"><a href="#">Квартиры в готовых домах</a></li>
						<li class="footer-nav__item footer-nav__item--bigger"><a href="#">Вторичная недвижимость</a></li>
						<li class="footer-nav__item"><a href="#">Услуги</a></li>
						<li class="footer-nav__item"><a href="#">Ипотека</a></li>
						<li class="footer-nav__item footer-nav__item--bigger"><a href="#">Условия покупки</a></li>
					</ul>
				</div>
			</nav>
			<div class="footer__bottom">
				<div class="footer__wrap">
					<div class="footer__flex"><a class="footer__logo" href="/">
							<div class="footer__logo-img">
								<svg class="logo-img" x="0px" y="0px" viewBox="0 0 330 342.7" enable-background="new 0 0 330 342.7" xml:space="preserve">
									<g>
										<g>
											<g>
												<polygon fill="#125FC5" points="233.4,75 283,75 307.4,32.8 191.2,32.8"></polygon>
												<polygon fill="#125FC5" points="275.6,117.3 295.8,137.4 307.4,117.3"></polygon>
												<polygon fill="#125FC5" points="138.9,32.8 82.4,32.8 58,75 96.6,75"></polygon>
												<polygon fill="#125FC5" points="51.5,222.5 22.6,272.4 67.7,272.4 43.6,314.5 47.3,314.6 95.8,314.6 113.3,284.3"></polygon>
												<polygon fill="#125FC5" points="186.4,314.6 193.5,314.6 203,298"></polygon>
											</g>
											<g>
												<path fill="#125FC5" d="M191.2,32.8l-5.6-5.6c-11.4-11.4-29.8-11.4-41.2,0l-5.6,5.6H191.2z"></path>
												<polygon fill="#F4BB2E" points="213.8,194.8 258.6,117.3 275.6,117.3 233.4,75 185.5,75 161.1,117.3 209.8,117.3 165,194.8"></polygon>
												<path fill="#125FC5" d="M144.9,314.6l-0.2-0.1l44.7-77.4h-48.9l-27.3,47.3l31.1,31.1c11.4,11.4,29.8,11.4,41.2,0l0.8-0.8H144.9z"></path>
												<path fill="#125FC5" d="M136.6,75H96.6l-75.7,75.7c-11.4,11.4-11.4,29.8,0,41.2l30.5,30.5L136.6,75z"></path>
												<path fill="#125FC5" d="M309.1,150.7l-13.4-13.4L203,298l106.1-106.1C320.5,180.6,320.5,162.1,309.1,150.7z"></path>
											</g>
										</g>
									</g>
								</svg>
							</div>
							<div class="footer__logo-text">
								<h3 class="footer__logo-title">ТИМ Недвижимость</h3>
								<p class="footer__logo-descr">Продажа недвижимости в Санкт-Петербурге и ЛО</p>
							</div></a>
						<div class="footer__socials">
							<ul class="footer__socials-list">
								<li class="footer__socials-item footer__socials-item--vk"><a href="#"><span>ВКонтакте</span></a></li>
								<li class="footer__socials-item footer__socials-item--fb"><a href="#"><span>Youtube</span></a></li>
								<li class="footer__socials-item footer__socials-item--yt"><a href="#"><span>Facebook</span></a></li>
							</ul>
							<button class="btn btn--attention btn--upper js--show-question-popup">Написать письмо</button>
						</div>
						<div class="footer__address">Адрес нашего офиса<br>Невский пр. 7, офис 3</div>
						<div class="footer__tel"><a href="+78124018892">+7 (812) 408-18-92</a>
							<button class="btn btn--upper js--show-order-get-popup">Заявка на подбор</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="popup popup--js-call">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите номер&nbsp;телефона и&nbsp;мы&nbsp;перезвоним в&nbsp;течение&nbsp;5&nbsp;минут!</p>
				<form class="popup__form js--form" method="post" action="/order-call" data-msg="Ждите звонка!">
					<label>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Заказать звонок</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-register-seminar">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите контактные&nbsp;данные для&nbsp;регистрации!</p>
				<form class="popup__form js--form" method="post" action="/register-seminar" data-msg="Вы успешно зарегистрированы!">
					<label>
						<p>Имя</p>
						<input type="text" name="name" placeholder="Как к вам обращаться?">
					</label>
					<label>
						<p>Номер&nbsp;телефона</p>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<label>
						<p>Email</p>
						<input type="email" name="email" placeholder="ivanov@mail.ru">
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Зарегистрироваться на семинар</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-action">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--action">Акция!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции.</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-success">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--success">У вас получилось!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Всё успешно!</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-error">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--error">Ошибка!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Попробуйте снова!</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-question">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Остались&nbsp;вопросы? С&nbsp;радостью ответим!</p>
				<form class="popup__form js--form" method="post" action="/question" data-msg="Мы получили ваш вопрос! Скоро ответим!">
					<label>
						<p>Ваш телефон или почта</p>
						<input type="text" name="contact" placeholder="ivanov@mail.ru">
					</label>
					<label>
						<p>Ваш вопрос</p>
						<textarea name="msg" placeholder="Напишите ваш вопрос" rows="4"></textarea>
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Узнать ответ</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-order-get">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Подберём наилучший&nbsp;вариант!</p>
				<form class="popup__form js--form" method="post" action="/order-get" data-msg="Мы получили ваш запрос! Скоро ответим!">
					<label>
						<p>Ваш телефон</p>
						<input type="text" name="contact" placeholder="+7 999 999-99-99">
					</label>
					<label>
						<p>Ваши пожелания</p>
						<textarea name="msg" placeholder="Вкратце опишите желаемое" rows="5"></textarea>
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Оставить заявку</button>
				</form>
			</div>
		</div>
		<div class="popup popup--video popup--js-video">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<div class="popup__video"></div>
			</div>
		</div>
		<div class="overlay"></div>
		<script src="/static/js/main.js"></script>
	</body>
</html>