<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/style.min.css">
		<title>Заголовок</title>
		<meta name="description" content="Описание">
	</head>
	<body>
		<header class="main-header">
			<div class="main-header__wrap">
				<div class="main-header__top">
					<div class="main-header__top-left">
						<div class="main-header__logo"><img src="/static/img/logo.jpg" alt="Недвижимость в Санкт-Петербурге и ЛО">
							<h4 class="main-header__logo-text">Название
								<p>Продажа недвижимости в Санкт-Петербурге и ЛО</p>
							</h4>
						</div>
					</div>
					<div class="main-header__top-right">
						<div class="main-header__tel"><a href="tel:+79999999999">+7 (812) 555-55-55</a>
							<button class="btn btn--upper js--order-call">Заказать звонок</button>
						</div>
					</div>
				</div>
				<div class="main-header__bottom">
					<nav class="main-nav"><a class="main-nav__item main-nav__item--attention" href="#">Новостройки</a><a class="main-nav__item main-nav__item--attention" href="#">Квартиры в готовых домах</a><a class="main-nav__item main-nav__item--attention" href="#">Вторичная недвижимость</a><a class="main-nav__item" href="#">Услуги</a><a class="main-nav__item" href="#">Ипотека</a><a class="main-nav__item" href="#">Условия покупки</a></nav>
				</div>
			</div>
		</header>
		<section class="object-img">
			<div class="object-img__wrap">
				<div class="object-img__flex">
					<div class="object-img__left">
						<div class="object-img__slider">
							<div class="object-img__slider-current"><img src="./static/img/object-img/current.jpg" alt="Название объекта"></div>
							<ul class="object-img__slider-list">
								<li class="object-img__slider-item"><a href="#"><img src="./static/img/object-img/item.jpg" alt="Описание объекта"></a></li>
								<li class="object-img__slider-item"><a href="#"><img src="./static/img/object-img/item.jpg" alt="Описание объекта"></a></li>
								<li class="object-img__slider-item"><a href="#"><img src="./static/img/object-img/item.jpg" alt="Описание объекта"></a></li>
							</ul>
						</div>
					</div>
					<div class="object-img__right">
						<div class="object-img__map"><img src="./static/img/object-img/map.jpg"></div>
						<button class="btn btn--attention btn--upper btn--big btn--attention-line btn--no-pl-pr js--show-consult-popup">Получить консультацию по объекту</button>
					</div>
				</div>
			</div>
		</section>
		<section class="object-content">
			<div class="object-content__wrap">
				<div class="object-content__flex">
					<div class="object-content__block">
						<h3 class="object-content__title">Краткое описание</h3>
						<ul class="object-content__list">
							<li><span>Район:&nbsp;</span><span>Московский</span></li>
							<li><span>Метро:&nbsp;</span><span>Московские ворота</span></li>
							<li><span>Адрес:&nbsp;</span><span>Московский пр. 3</span></li>
							<li><span>Срок сдачи:&nbsp;</span><span>Июль 2020</span></li>
							<li><span>Отделка:&nbsp;</span><span>С мебелью</span></li>
						</ul>
					</div>
					<div class="object-content__block">
						<h3 class="object-content__title">Стоимость квартир</h3>
						<ul class="object-content__list object-content__list--fixed-span">
							<li><span>Студия:&nbsp;</span><a href="#">от 3 млн. р.</a></li>
							<li><span>1 к. кв.:&nbsp;</span><a href="#">от 4 млн. р.</a></li>
							<li><span>2 к. кв.:&nbsp;</span><a href="#">от 5 млн. р.</a></li>
							<li><span>3 к. кв.:&nbsp;</span><a href="#">от 6 млн. р.</a></li>
						</ul>
						<p class="object-content__more">Посмотрите планировку</p>
					</div>
					<div class="object-content__block object-content__block--bordered">
						<h3 class="object-content__title">Варианты оплаты</h3>
						<ul class="object-content__list">
							<li><span>Ипотека</span></li>
							<li><span>Рассрочка</span></li>
							<li><span>Материнский капитал</span></li>
							<li><span>100% оплата</span></li>
							<li><span>Субсидии</span></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="object-description">
			<div class="object-description__wrap">
				<h2 class="object-description__title">Описание объекта</h2>
				<article class="object-description__text">
					<p>Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.</p>
					<p>Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.</p>
					<p>Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.</p>
				</article>
			</div>
		</section>
		<section class="count">
			<div class="count__wrap">
				<h2 class="count__title">Расчёт ипотеки</h2>
			</div>
			<div class="count__content">
				<div class="count__wrap">
					<div class="count__flex">
						<div class="count__left">
							<h3 class="count__subtitle">Примерный расчёт</h3>
							<form class="count__form js--count-form" method="" action="">
								<p>Введите параметры расчёта</p>
								<label class="count__label">Сумма ипотеки
									<div class="count__input">
										<input type="number" placeholder="2 000 000" name="sum"><span>руб.</span>
									</div>
								</label>
								<label class="count__label">Процент кредитования
									<div class="count__input">
										<input type="number" placeholder="20" name="percent"><span>%</span>
									</div>
								</label>
								<label class="count__label">Срок ипотеки
									<div class="count__input">
										<input type="number" placeholder="20" name="time"><span>лет</span>
									</div>
								</label>
								<label class="count__label">Первоначальный взнос
									<div class="count__input">
										<input type="number" placeholder="30" name="first"><span>%</span>
									</div>
								</label>
								<div class="count__result">
									<button type="submit">Рассчитать</button>
									<p>Ежемесячный платёж<br><i class="js--count-result">30 000 рублей</i></p>
								</div>
							</form>
						</div>
						<div class="count__right">
							<h3 class="count__subtitle">Точный расчёт</h3>
							<form class="count__form js--order-count" method="" action="">
								<p>Чтобы получить точный расчёт, оставьте заявку</p>
								<div class="count__input count__input--mb count__input--flex">
									<input type="tel" placeholder="+7 (999) 555-55-55" name="tel">
									<button class="btn btn--attention btn--upper" type="submit">Получить расчёт</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="count__btns">
				<div class="count__wrap count__wrap--btns">
					<div class="count__btns-left">
						<button class="btn btn--big btn--bold btn--attention btn--square js--show-consult-popup">Получить консультацию по объекту</button>
					</div>
					<div class="count__btns-right">
						<button class="btn btn--big btn--upper btn--square js--show-buy-popup">Купить квартиру</button>
					</div>
				</div>
			</div>
		</section>
		<section class="objects objects--alt-colors">
			<div class="objects__wrap">
				<h2 class="objects__title">Похожие объекты<a class="objects__sort js--sort-by-price" href="#">По цене</a><a class="objects__sort js--sort-by-place" href="#">По местоположению</a></h2>
				<div class="objects__list">
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="#">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="#">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="#">Подробнее</a></div>
					</div>
				</div>
			</div>
		</section><a class="object-action" href="#">
			<div class="object-action__left">
				<p>Описание акции. Нажмите, чтобы узнать подробности!</p>
			</div>
			<div class="object-action__right"><span>Акция</span></div></a>
		<footer class="footer">
			<section class="footer-search">
				<div class="footer-search__content">
					<h3 class="footer-search__title">Поиск недвижимости</h3>
					<ul class="footer-search__list">
						<li class="footer-search__item"><a href="#">Район</a></li>
						<li class="footer-search__item"><a href="#">Метро</a></li>
						<li class="footer-search__item"><a href="#">Застройщики</a></li>
						<li class="footer-search__item"><a href="#">Год сдачи</a></li>
						<li class="footer-search__item"><a href="#">Способы покупки</a></li>
					</ul><img class="footer-search__decor-img" src="./static/img/search/bg.png" alt="Поиск недвижимости">
				</div>
			</section>
			<nav class="footer-nav">
				<div class="footer__wrap">
					<ul class="footer-nav__list">
						<li class="footer-nav__item"><a href="#">Новостройки</a></li>
						<li class="footer-nav__item"><a href="#">Квартиры в готовых домах</a></li>
						<li class="footer-nav__item"><a href="#">Вторичная недвижимость</a></li>
						<li class="footer-nav__item"><a href="#">Услуги</a></li>
						<li class="footer-nav__item"><a href="#">Ипотека</a></li>
						<li class="footer-nav__item"><a href="#">Условия покупки</a></li>
					</ul>
				</div>
			</nav>
			<div class="footer__bottom">
				<div class="footer__wrap">
					<div class="footer__flex">
						<div class="footer__logo">
							<div class="footer__logo-img"><img src="" alt="Название компании"></div>
							<div class="footer__logo-text">
								<h3 class="footer__logo-title">Название компании</h3>
								<p class="footer__logo-descr">Продажа недвижимости в Санкт-Петербурге и ЛО</p>
							</div>
						</div>
						<div class="footer__socials">
							<ul class="footer__socials-list">
								<li class="footer__socials-item footer__socials-item--vk"><a href="#">ВКонтакте</a></li>
								<li class="footer__socials-item footer__socials-item--yt"><a href="#">Youtube</a></li>
								<li class="footer__socials-item footer__socials-item--fb"><a href="#">Facebook</a></li>
							</ul>
							<button class="btn btn--attention btn--upper js--show-msg-popup">Написать письмо</button>
						</div>
						<div class="footer__address">Адрес нашего офиса<br>Невский пр. 7, офис 3</div>
						<div class="footer__tel"><a href="+79995555555">+7 (812) 555-55-55</a>
							<button class="btn btn--upper js--show-order-get-popup">Заявка на подбор</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="overlay"></div>
		<script src="/static/js/main.js"></script>
	</body>
</html>