<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/style.min.css">
		<title>Заголовок</title>
		<meta name="description" content="Описание">
	</head>
	<body>
		<header class="main-header">
			<div class="main-header__wrap">
				<div class="main-header__top">
					<div class="main-header__top-left"><a class="main-header__logo" href="/">
							<div class="main-header__logo-img">
								<svg class="logo-img" x="0px" y="0px" viewBox="0 0 330 342.7" enable-background="new 0 0 330 342.7" xml:space="preserve">
									<g>
										<g>
											<g>
												<polygon fill="#125FC5" points="233.4,75 283,75 307.4,32.8 191.2,32.8"></polygon>
												<polygon fill="#125FC5" points="275.6,117.3 295.8,137.4 307.4,117.3"></polygon>
												<polygon fill="#125FC5" points="138.9,32.8 82.4,32.8 58,75 96.6,75"></polygon>
												<polygon fill="#125FC5" points="51.5,222.5 22.6,272.4 67.7,272.4 43.6,314.5 47.3,314.6 95.8,314.6 113.3,284.3"></polygon>
												<polygon fill="#125FC5" points="186.4,314.6 193.5,314.6 203,298"></polygon>
											</g>
											<g>
												<path fill="#125FC5" d="M191.2,32.8l-5.6-5.6c-11.4-11.4-29.8-11.4-41.2,0l-5.6,5.6H191.2z"></path>
												<polygon fill="#F4BB2E" points="213.8,194.8 258.6,117.3 275.6,117.3 233.4,75 185.5,75 161.1,117.3 209.8,117.3 165,194.8"></polygon>
												<path fill="#125FC5" d="M144.9,314.6l-0.2-0.1l44.7-77.4h-48.9l-27.3,47.3l31.1,31.1c11.4,11.4,29.8,11.4,41.2,0l0.8-0.8H144.9z"></path>
												<path fill="#125FC5" d="M136.6,75H96.6l-75.7,75.7c-11.4,11.4-11.4,29.8,0,41.2l30.5,30.5L136.6,75z"></path>
												<path fill="#125FC5" d="M309.1,150.7l-13.4-13.4L203,298l106.1-106.1C320.5,180.6,320.5,162.1,309.1,150.7z"></path>
											</g>
										</g>
									</g>
								</svg>
							</div>
							<h4 class="main-header__logo-text">ТИМ Недвижимость
								<p>Продажа недвижимости в Санкт-Петербурге и ЛО</p>
							</h4></a></div>
					<div class="main-header__top-right">
						<div class="main-header__tel"><a href="tel:+78124018892">+7 (812) 408-18-92</a>
							<button class="btn btn--upper js--show-call-popup">Заказать звонок</button>
						</div>
					</div>
				</div>
				<div class="main-header__bottom">
					<nav class="main-nav"><a class="main-nav__item main-nav__item--attention" href="#">Новостройки</a><a class="main-nav__item main-nav__item--attention" href="#">Квартиры в готовых домах</a><a class="main-nav__item main-nav__item--attention" href="#">Вторичная недвижимость</a><a class="main-nav__item" href="#">Услуги</a><a class="main-nav__item" href="#">Ипотека</a><a class="main-nav__item" href="#">Условия покупки</a></nav>
				</div>
			</div>
		</header>
		<section class="object-img">
			<div class="object-img__wrap">
				<div class="object-img__flex">
					<div class="object-img__left">
						<div class="object-img__slider">
							<div class="object-img__slider-current"><img src="./static/img/object-img/current.jpg" alt="Название объекта"></div>
							<ul class="object-img__slider-list">
								<li class="object-img__slider-item"><a href="#"><img src="./static/img/object-img/item.jpg" alt="Описание объекта"></a></li>
								<li class="object-img__slider-item"><a href="#"><img src="./static/img/object-img/item.jpg" alt="Описание объекта"></a></li>
								<li class="object-img__slider-item"><a href="#"><img src="./static/img/object-img/item.jpg" alt="Описание объекта"></a></li>
							</ul>
						</div>
					</div>
					<div class="object-img__right">
						<div class="object-img__map"><img src="./static/img/object-img/map.jpg"></div>
						<button class="btn btn--attention btn--upper btn--big btn--attention-line btn--no-pl-pr js--show-consult-popup">Получить консультацию по объекту</button>
					</div>
				</div>
			</div>
		</section>
		<section class="object-content">
			<div class="object-content__wrap">
				<div class="object-content__flex">
					<div class="object-content__block">
						<h3 class="object-content__title">Краткое описание</h3>
						<ul class="object-content__list">
							<li><span>Район:&nbsp;</span><span>Московский</span></li>
							<li><span>Метро:&nbsp;</span><span>Московские ворота</span></li>
							<li><span>Адрес:&nbsp;</span><span>Московский пр. 3</span></li>
							<li><span>Срок сдачи:&nbsp;</span><span>Июль 2020</span></li>
							<li><span>Отделка:&nbsp;</span><span>С мебелью</span></li>
						</ul>
					</div>
					<div class="object-content__block">
						<h3 class="object-content__title">Стоимость квартир</h3>
						<ul class="object-content__list object-content__list--fixed-span">
							<li><span>Студия:&nbsp;</span><a class="js--show-plans-popup" href="#"><span>от 3 млн. р.</span><i>
										<svg x="0px" y="0px" viewBox="0 0 28 26" enable-background="new 0 0 28 26" xml:space="preserve">
											<g>
												<path fill="#125FC5" d="M14,23c-8.5,0-12.8-8.4-12.8-8.5c0,0,0-0.1,0-0.1v-0.1c0-0.1,0-0.1,0-0.1C1.2,14,5.5,5.6,14,5.6 c8.5,0,12.8,8.5,12.8,8.5c0,0,0,0.1,0,0.1v0.1c0,0.1,0,0.1,0,0.1C26.8,14.6,22.5,23,14,23L14,23z M1.8,14.3 c0.5,0.9,4.6,8.1,12.2,8.1c7.6,0,11.7-7.1,12.2-8.1c-0.5-0.9-4.6-8.1-12.2-8.1C6.4,6.2,2.3,13.3,1.8,14.3L1.8,14.3z M1.8,14.3"></path>
												<path fill="#125FC5" d="M14,18.5c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2c2.3,0,4.2,1.9,4.2,4.2C18.2,16.6,16.3,18.5,14,18.5 L14,18.5z M14,10.8c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C17.5,12.4,15.9,10.8,14,10.8L14,10.8z M14,10.8"></path>
												<path fill="#125FC5" d="M15.4,14.3c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.8,0.6-1.4,1.4-1.4 C14.8,12.9,15.4,13.6,15.4,14.3L15.4,14.3z M15.4,14.3"></path>
												<path fill="#125FC5" d="M14,6.2c-0.2,0-0.3-0.1-0.3-0.3V3.3C13.7,3.1,13.8,3,14,3c0.2,0,0.3,0.1,0.3,0.3v2.6 C14.3,6.1,14.2,6.2,14,6.2L14,6.2z M14,6.2"></path>
												<path fill="#125FC5" d="M4.2,10.7c-0.1,0-0.2,0-0.2-0.1L2.1,8.8C2,8.7,2,8.5,2.1,8.4c0.1-0.1,0.3-0.1,0.5,0l1.8,1.8 c0.1,0.1,0.1,0.3,0,0.5C4.3,10.7,4.3,10.7,4.2,10.7L4.2,10.7z M4.2,10.7"></path>
												<path fill="#125FC5" d="M8.5,7.5c-0.1,0-0.2-0.1-0.3-0.2L6.9,5.1C6.8,4.9,6.9,4.7,7,4.6c0.2-0.1,0.4,0,0.4,0.1L8.8,7 c0.1,0.2,0,0.4-0.1,0.4C8.6,7.4,8.5,7.5,8.5,7.5L8.5,7.5z M8.5,7.5"></path>
												<path fill="#125FC5" d="M23.8,10.7c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.3,0-0.5l1.8-1.8c0.1-0.1,0.3-0.1,0.5,0 c0.1,0.1,0.1,0.3,0,0.5l-1.8,1.8C24,10.7,23.9,10.7,23.8,10.7L23.8,10.7z M23.8,10.7"></path>
												<path fill="#125FC5" d="M19.5,7.5c-0.1,0-0.1,0-0.2,0c-0.2-0.1-0.2-0.3-0.1-0.4l1.3-2.2c0.1-0.2,0.3-0.2,0.4-0.1 c0.2,0.1,0.2,0.3,0.1,0.4l-1.3,2.2C19.8,7.4,19.6,7.5,19.5,7.5L19.5,7.5z M19.5,7.5"></path>
											</g>
										</svg></i></a></li>
							<li><span>1 к. кв.:&nbsp;</span><a class="js--show-plans-popup" href="#"><span>от 4 млн. р.</span><i>
										<svg x="0px" y="0px" viewBox="0 0 28 26" enable-background="new 0 0 28 26" xml:space="preserve">
											<g>
												<path fill="#125FC5" d="M14,23c-8.5,0-12.8-8.4-12.8-8.5c0,0,0-0.1,0-0.1v-0.1c0-0.1,0-0.1,0-0.1C1.2,14,5.5,5.6,14,5.6 c8.5,0,12.8,8.5,12.8,8.5c0,0,0,0.1,0,0.1v0.1c0,0.1,0,0.1,0,0.1C26.8,14.6,22.5,23,14,23L14,23z M1.8,14.3 c0.5,0.9,4.6,8.1,12.2,8.1c7.6,0,11.7-7.1,12.2-8.1c-0.5-0.9-4.6-8.1-12.2-8.1C6.4,6.2,2.3,13.3,1.8,14.3L1.8,14.3z M1.8,14.3"></path>
												<path fill="#125FC5" d="M14,18.5c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2c2.3,0,4.2,1.9,4.2,4.2C18.2,16.6,16.3,18.5,14,18.5 L14,18.5z M14,10.8c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C17.5,12.4,15.9,10.8,14,10.8L14,10.8z M14,10.8"></path>
												<path fill="#125FC5" d="M15.4,14.3c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.8,0.6-1.4,1.4-1.4 C14.8,12.9,15.4,13.6,15.4,14.3L15.4,14.3z M15.4,14.3"></path>
												<path fill="#125FC5" d="M14,6.2c-0.2,0-0.3-0.1-0.3-0.3V3.3C13.7,3.1,13.8,3,14,3c0.2,0,0.3,0.1,0.3,0.3v2.6 C14.3,6.1,14.2,6.2,14,6.2L14,6.2z M14,6.2"></path>
												<path fill="#125FC5" d="M4.2,10.7c-0.1,0-0.2,0-0.2-0.1L2.1,8.8C2,8.7,2,8.5,2.1,8.4c0.1-0.1,0.3-0.1,0.5,0l1.8,1.8 c0.1,0.1,0.1,0.3,0,0.5C4.3,10.7,4.3,10.7,4.2,10.7L4.2,10.7z M4.2,10.7"></path>
												<path fill="#125FC5" d="M8.5,7.5c-0.1,0-0.2-0.1-0.3-0.2L6.9,5.1C6.8,4.9,6.9,4.7,7,4.6c0.2-0.1,0.4,0,0.4,0.1L8.8,7 c0.1,0.2,0,0.4-0.1,0.4C8.6,7.4,8.5,7.5,8.5,7.5L8.5,7.5z M8.5,7.5"></path>
												<path fill="#125FC5" d="M23.8,10.7c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.3,0-0.5l1.8-1.8c0.1-0.1,0.3-0.1,0.5,0 c0.1,0.1,0.1,0.3,0,0.5l-1.8,1.8C24,10.7,23.9,10.7,23.8,10.7L23.8,10.7z M23.8,10.7"></path>
												<path fill="#125FC5" d="M19.5,7.5c-0.1,0-0.1,0-0.2,0c-0.2-0.1-0.2-0.3-0.1-0.4l1.3-2.2c0.1-0.2,0.3-0.2,0.4-0.1 c0.2,0.1,0.2,0.3,0.1,0.4l-1.3,2.2C19.8,7.4,19.6,7.5,19.5,7.5L19.5,7.5z M19.5,7.5"></path>
											</g>
										</svg></i></a></li>
							<li><span>2 к. кв.:&nbsp;</span><a class="js--show-plans-popup" href="#"><span>от 5 млн. р.</span><i>
										<svg x="0px" y="0px" viewBox="0 0 28 26" enable-background="new 0 0 28 26" xml:space="preserve">
											<g>
												<path fill="#125FC5" d="M14,23c-8.5,0-12.8-8.4-12.8-8.5c0,0,0-0.1,0-0.1v-0.1c0-0.1,0-0.1,0-0.1C1.2,14,5.5,5.6,14,5.6 c8.5,0,12.8,8.5,12.8,8.5c0,0,0,0.1,0,0.1v0.1c0,0.1,0,0.1,0,0.1C26.8,14.6,22.5,23,14,23L14,23z M1.8,14.3 c0.5,0.9,4.6,8.1,12.2,8.1c7.6,0,11.7-7.1,12.2-8.1c-0.5-0.9-4.6-8.1-12.2-8.1C6.4,6.2,2.3,13.3,1.8,14.3L1.8,14.3z M1.8,14.3"></path>
												<path fill="#125FC5" d="M14,18.5c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2c2.3,0,4.2,1.9,4.2,4.2C18.2,16.6,16.3,18.5,14,18.5 L14,18.5z M14,10.8c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C17.5,12.4,15.9,10.8,14,10.8L14,10.8z M14,10.8"></path>
												<path fill="#125FC5" d="M15.4,14.3c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.8,0.6-1.4,1.4-1.4 C14.8,12.9,15.4,13.6,15.4,14.3L15.4,14.3z M15.4,14.3"></path>
												<path fill="#125FC5" d="M14,6.2c-0.2,0-0.3-0.1-0.3-0.3V3.3C13.7,3.1,13.8,3,14,3c0.2,0,0.3,0.1,0.3,0.3v2.6 C14.3,6.1,14.2,6.2,14,6.2L14,6.2z M14,6.2"></path>
												<path fill="#125FC5" d="M4.2,10.7c-0.1,0-0.2,0-0.2-0.1L2.1,8.8C2,8.7,2,8.5,2.1,8.4c0.1-0.1,0.3-0.1,0.5,0l1.8,1.8 c0.1,0.1,0.1,0.3,0,0.5C4.3,10.7,4.3,10.7,4.2,10.7L4.2,10.7z M4.2,10.7"></path>
												<path fill="#125FC5" d="M8.5,7.5c-0.1,0-0.2-0.1-0.3-0.2L6.9,5.1C6.8,4.9,6.9,4.7,7,4.6c0.2-0.1,0.4,0,0.4,0.1L8.8,7 c0.1,0.2,0,0.4-0.1,0.4C8.6,7.4,8.5,7.5,8.5,7.5L8.5,7.5z M8.5,7.5"></path>
												<path fill="#125FC5" d="M23.8,10.7c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.3,0-0.5l1.8-1.8c0.1-0.1,0.3-0.1,0.5,0 c0.1,0.1,0.1,0.3,0,0.5l-1.8,1.8C24,10.7,23.9,10.7,23.8,10.7L23.8,10.7z M23.8,10.7"></path>
												<path fill="#125FC5" d="M19.5,7.5c-0.1,0-0.1,0-0.2,0c-0.2-0.1-0.2-0.3-0.1-0.4l1.3-2.2c0.1-0.2,0.3-0.2,0.4-0.1 c0.2,0.1,0.2,0.3,0.1,0.4l-1.3,2.2C19.8,7.4,19.6,7.5,19.5,7.5L19.5,7.5z M19.5,7.5"></path>
											</g>
										</svg></i></a></li>
							<li><span>3 к. кв.:&nbsp;</span><a class="js--show-plans-popup" href="#"><span>от 6 млн. р.</span><i>
										<svg x="0px" y="0px" viewBox="0 0 28 26" enable-background="new 0 0 28 26" xml:space="preserve">
											<g>
												<path fill="#125FC5" d="M14,23c-8.5,0-12.8-8.4-12.8-8.5c0,0,0-0.1,0-0.1v-0.1c0-0.1,0-0.1,0-0.1C1.2,14,5.5,5.6,14,5.6 c8.5,0,12.8,8.5,12.8,8.5c0,0,0,0.1,0,0.1v0.1c0,0.1,0,0.1,0,0.1C26.8,14.6,22.5,23,14,23L14,23z M1.8,14.3 c0.5,0.9,4.6,8.1,12.2,8.1c7.6,0,11.7-7.1,12.2-8.1c-0.5-0.9-4.6-8.1-12.2-8.1C6.4,6.2,2.3,13.3,1.8,14.3L1.8,14.3z M1.8,14.3"></path>
												<path fill="#125FC5" d="M14,18.5c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2c2.3,0,4.2,1.9,4.2,4.2C18.2,16.6,16.3,18.5,14,18.5 L14,18.5z M14,10.8c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C17.5,12.4,15.9,10.8,14,10.8L14,10.8z M14,10.8"></path>
												<path fill="#125FC5" d="M15.4,14.3c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.8,0.6-1.4,1.4-1.4 C14.8,12.9,15.4,13.6,15.4,14.3L15.4,14.3z M15.4,14.3"></path>
												<path fill="#125FC5" d="M14,6.2c-0.2,0-0.3-0.1-0.3-0.3V3.3C13.7,3.1,13.8,3,14,3c0.2,0,0.3,0.1,0.3,0.3v2.6 C14.3,6.1,14.2,6.2,14,6.2L14,6.2z M14,6.2"></path>
												<path fill="#125FC5" d="M4.2,10.7c-0.1,0-0.2,0-0.2-0.1L2.1,8.8C2,8.7,2,8.5,2.1,8.4c0.1-0.1,0.3-0.1,0.5,0l1.8,1.8 c0.1,0.1,0.1,0.3,0,0.5C4.3,10.7,4.3,10.7,4.2,10.7L4.2,10.7z M4.2,10.7"></path>
												<path fill="#125FC5" d="M8.5,7.5c-0.1,0-0.2-0.1-0.3-0.2L6.9,5.1C6.8,4.9,6.9,4.7,7,4.6c0.2-0.1,0.4,0,0.4,0.1L8.8,7 c0.1,0.2,0,0.4-0.1,0.4C8.6,7.4,8.5,7.5,8.5,7.5L8.5,7.5z M8.5,7.5"></path>
												<path fill="#125FC5" d="M23.8,10.7c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.3,0-0.5l1.8-1.8c0.1-0.1,0.3-0.1,0.5,0 c0.1,0.1,0.1,0.3,0,0.5l-1.8,1.8C24,10.7,23.9,10.7,23.8,10.7L23.8,10.7z M23.8,10.7"></path>
												<path fill="#125FC5" d="M19.5,7.5c-0.1,0-0.1,0-0.2,0c-0.2-0.1-0.2-0.3-0.1-0.4l1.3-2.2c0.1-0.2,0.3-0.2,0.4-0.1 c0.2,0.1,0.2,0.3,0.1,0.4l-1.3,2.2C19.8,7.4,19.6,7.5,19.5,7.5L19.5,7.5z M19.5,7.5"></path>
											</g>
										</svg></i></a></li>
						</ul>
						<p class="object-content__more">Посмотрите планировку</p>
					</div>
					<div class="object-content__block object-content__block--bordered">
						<h3 class="object-content__title">Варианты оплаты</h3>
						<ul class="object-content__list">
							<li><span>Ипотека</span></li>
							<li><span>Рассрочка</span></li>
							<li><span>Материнский капитал</span></li>
							<li><span>100% оплата</span></li>
							<li><span>Субсидии</span></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="object-description">
			<div class="object-description__wrap">
				<h2 class="object-description__title">Описание объекта</h2>
				<article class="object-description__text">
					<p>Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.</p>
					<p>Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.</p>
					<p>Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта. Описание объекта.</p>
				</article>
			</div>
		</section>
		<section class="count">
			<div class="count__wrap">
				<h2 class="count__title">Расчёт ипотеки</h2>
			</div>
			<div class="count__content">
				<div class="count__wrap">
					<div class="count__flex">
						<div class="count__left">
							<h3 class="count__subtitle">Примерный расчёт</h3>
							<form class="count__form js--count-form">
								<p>Введите параметры расчёта</p>
								<label class="count__label">Сумма ипотеки
									<div class="count__input">
										<input type="number" placeholder="2 000 000" min="0" required name="sum"><span>руб.</span>
									</div>
								</label>
								<label class="count__label">Процент кредитования
									<div class="count__input">
										<input type="number" placeholder="20" min="0" required name="percent"><span>%</span>
									</div>
								</label>
								<label class="count__label">Срок ипотеки
									<div class="count__input">
										<input type="number" placeholder="20" min="0" required name="time"><span>лет</span>
									</div>
								</label>
								<label class="count__label">Первоначальный взнос
									<div class="count__input">
										<input type="number" placeholder="30" min="0" required name="first"><span>%</span>
									</div>
								</label>
								<div class="count__result">
									<button type="submit">Рассчитать</button>
									<p>Ежемесячный платёж<br><i class="js--count-result">30 000 рублей</i></p>
								</div>
							</form>
						</div>
						<div class="count__right">
							<h3 class="count__subtitle">Точный расчёт</h3>
							<form class="count__form js--form" method="post" action="/count">
								<p>Чтобы получить точный расчёт, оставьте заявку</p>
								<div class="count__input count__input--mb count__input--flex">
									<input type="tel" placeholder="+7 (999) 555-55-55" name="tel">
									<button class="btn btn--attention btn--upper" type="submit">Получить расчёт</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="count__btns">
				<div class="count__wrap count__wrap--btns">
					<div class="count__btns-left">
						<button class="btn btn--big btn--bold btn--attention btn--square js--show-consult-popup">Получить консультацию по объекту</button>
					</div>
					<div class="count__btns-right">
						<button class="btn btn--big btn--upper btn--square js--show-buy-popup">Купить квартиру</button>
					</div>
				</div>
			</div>
		</section>
		<section class="objects objects--alt-colors">
			<div class="objects__wrap">
				<h2 class="objects__title">Похожие объекты<a class="objects__sort js--sort-by-price" href="#">По цене</a><a class="objects__sort js--sort-by-place" href="#">По местоположению</a></h2>
				<div class="objects__list">
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
				</div>
			</div>
		</section><a class="object-action js--show-action-popup" href="#">
			<div class="object-action__left">
				<p>Описание акции. Нажмите, чтобы узнать подробности!</p>
			</div>
			<div class="object-action__right"><span>Акция</span></div></a>
		<div class="popup popup--js-consult">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите номер&nbsp;телефона и&nbsp;мы&nbsp;договоримся о&nbsp;времени и&nbsp;месте консультации!</p>
				<form class="popup__form js--form" method="post" action="/consult" data-msg="Сейчас перезвоним!">
					<label>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Получить консультацию</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-buy">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите номер&nbsp;телефона и&nbsp;мы&nbsp;позвоним для&nbsp;уточнения деталей!</p>
				<form class="popup__form js--form" method="post" action="/buy" data-msg="Ждите звонка!">
					<label>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<input type="hidden" value="Наименование объекта">
					<button class="btn btn--attention btn--bold" type="submit">Оставить заявку на покупку</button>
				</form>
			</div>
		</div>
		<div class="popup popup--large popup--js-plans">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="object-plans">
				<div class="object-plans__wrap">
					<div class="object-plans__flex">
						<div class="object-plans__info">
							<div class="object-plans__tabs"><a class="object-plans__tabs-item object-plans__tabs-item--active" href="#">25 кв. м.</a><a class="object-plans__tabs-item" href="#">35 кв. м.</a><a class="object-plans__tabs-item" href="#">45 кв. м.</a></div>
							<div class="object-plans__blocks">
								<div class="object-plans__block">
									<h3 class="object-plans__block-title">ЖК «GREENЛАНДИЯ»<small>2 комнатная кв. 25 кв. м2</small></h3>
									<ul class="object-plans__block-list">
										<li><span>Адрес:</span><span>Александровской фермы пр. 72</span></li>
										<li><span>Метро:</span><span>Пролетарская</span></li>
									</ul>
									<ul class="object-plans__block-list object-plans__block-list--bold">
										<li><span>Стоимость при 100% оплате:</span><span>4234433 руб</span></li>
										<li><span>Срок сдачи:</span><span>II кв. 2020 г.</span></li>
									</ul>
									<ul class="object-plans__block-list object-plans__block-list--distance">
										<li><span>Корпус:</span><span>Дом 20</span></li>
										<li><span>Секция:</span><span>3</span></li>
									</ul>
									<ul class="object-plans__block-list object-plans__block-list--distance">
										<li><span>S общая:</span><span>25</span></li>
										<li><span>S комнат:</span><span>20</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="object-plans__plans">
							<div class="object-plans__plans-cta">
								<button class="btn js--show-consult-popup">Получить консультацию по объекту</button>
							</div>
							<div class="object-plans__plans-btns">
								<button class="object-plans__plans-btns-item object-plans__plans-btns-item--active">Квартира</button>
								<button class="object-plans__plans-btns-item">Поэтажная планировка</button>
							</div>
							<div class="object-plans__plans-slider">
								<div class="object-plans__plans-slider-item"><img src="" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<section class="footer-search">
				<div class="footer-search__content">
					<h3 class="footer-search__title">Поиск недвижимости</h3>
					<ul class="footer-search__list">
						<li class="footer-search__item"><a href="#">Район</a></li>
						<li class="footer-search__item"><a href="#">Метро</a></li>
						<li class="footer-search__item"><a href="#">Застройщики</a></li>
						<li class="footer-search__item"><a href="#">Год сдачи</a></li>
						<li class="footer-search__item"><a href="#">Способы покупки</a></li>
					</ul><img class="footer-search__decor-img" src="./static/img/search/bg.png" alt="Поиск недвижимости">
				</div>
			</section>
			<nav class="footer-nav">
				<div class="footer__wrap">
					<ul class="footer-nav__list">
						<li class="footer-nav__item"><a href="#">Новостройки</a></li>
						<li class="footer-nav__item"><a href="#">Квартиры в готовых домах</a></li>
						<li class="footer-nav__item"><a href="#">Вторичная недвижимость</a></li>
						<li class="footer-nav__item"><a href="#">Услуги</a></li>
						<li class="footer-nav__item"><a href="#">Ипотека</a></li>
						<li class="footer-nav__item"><a href="#">Условия покупки</a></li>
					</ul>
				</div>
			</nav>
			<div class="footer__bottom">
				<div class="footer__wrap">
					<div class="footer__flex"><a class="footer__logo" href="/">
							<div class="footer__logo-img">
								<svg class="logo-img" x="0px" y="0px" viewBox="0 0 330 342.7" enable-background="new 0 0 330 342.7" xml:space="preserve">
									<g>
										<g>
											<g>
												<polygon fill="#125FC5" points="233.4,75 283,75 307.4,32.8 191.2,32.8"></polygon>
												<polygon fill="#125FC5" points="275.6,117.3 295.8,137.4 307.4,117.3"></polygon>
												<polygon fill="#125FC5" points="138.9,32.8 82.4,32.8 58,75 96.6,75"></polygon>
												<polygon fill="#125FC5" points="51.5,222.5 22.6,272.4 67.7,272.4 43.6,314.5 47.3,314.6 95.8,314.6 113.3,284.3"></polygon>
												<polygon fill="#125FC5" points="186.4,314.6 193.5,314.6 203,298"></polygon>
											</g>
											<g>
												<path fill="#125FC5" d="M191.2,32.8l-5.6-5.6c-11.4-11.4-29.8-11.4-41.2,0l-5.6,5.6H191.2z"></path>
												<polygon fill="#F4BB2E" points="213.8,194.8 258.6,117.3 275.6,117.3 233.4,75 185.5,75 161.1,117.3 209.8,117.3 165,194.8"></polygon>
												<path fill="#125FC5" d="M144.9,314.6l-0.2-0.1l44.7-77.4h-48.9l-27.3,47.3l31.1,31.1c11.4,11.4,29.8,11.4,41.2,0l0.8-0.8H144.9z"></path>
												<path fill="#125FC5" d="M136.6,75H96.6l-75.7,75.7c-11.4,11.4-11.4,29.8,0,41.2l30.5,30.5L136.6,75z"></path>
												<path fill="#125FC5" d="M309.1,150.7l-13.4-13.4L203,298l106.1-106.1C320.5,180.6,320.5,162.1,309.1,150.7z"></path>
											</g>
										</g>
									</g>
								</svg>
							</div>
							<div class="footer__logo-text">
								<h3 class="footer__logo-title">ТИМ Недвижимость</h3>
								<p class="footer__logo-descr">Продажа недвижимости в Санкт-Петербурге и ЛО</p>
							</div></a>
						<div class="footer__socials">
							<ul class="footer__socials-list">
								<li class="footer__socials-item footer__socials-item--vk"><a href="#"><span>ВКонтакте</span></a></li>
								<li class="footer__socials-item footer__socials-item--fb"><a href="#"><span>Youtube</span></a></li>
								<li class="footer__socials-item footer__socials-item--yt"><a href="#"><span>Facebook</span></a></li>
							</ul>
							<button class="btn btn--attention btn--upper js--show-question-popup">Написать письмо</button>
						</div>
						<div class="footer__address">Адрес нашего офиса<br>Невский пр. 7, офис 3</div>
						<div class="footer__tel"><a href="+78124018892">+7 (812) 408-18-92</a>
							<button class="btn btn--upper js--show-order-get-popup">Заявка на подбор</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="popup popup--js-call">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите номер&nbsp;телефона и&nbsp;мы&nbsp;перезвоним в&nbsp;течение&nbsp;5&nbsp;минут!</p>
				<form class="popup__form js--form" method="post" action="/order-call" data-msg="Ждите звонка!">
					<label>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Заказать звонок</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-register-seminar">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите контактные&nbsp;данные для&nbsp;регистрации!</p>
				<form class="popup__form js--form" method="post" action="/register-seminar" data-msg="Вы успешно зарегистрированы!">
					<label>
						<p>Имя</p>
						<input type="text" name="name" placeholder="Как к вам обращаться?">
					</label>
					<label>
						<p>Номер&nbsp;телефона</p>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<label>
						<p>Email</p>
						<input type="email" name="email" placeholder="ivanov@mail.ru">
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Зарегистрироваться на семинар</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-action">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--action">Акция!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции.</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-success">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--success">У вас получилось!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Всё успешно!</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-error">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--error">Ошибка!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Попробуйте снова!</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-question">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Остались&nbsp;вопросы? С&nbsp;радостью ответим!</p>
				<form class="popup__form js--form" method="post" action="/question" data-msg="Мы получили ваш вопрос! Скоро ответим!">
					<label>
						<p>Ваш телефон или почта</p>
						<input type="text" name="contact" placeholder="ivanov@mail.ru">
					</label>
					<label>
						<p>Ваш вопрос</p>
						<textarea name="msg" placeholder="Напишите ваш вопрос" rows="4"></textarea>
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Узнать ответ</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-order-get">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Подберём наилучший&nbsp;вариант!</p>
				<form class="popup__form js--form" method="post" action="/order-get" data-msg="Мы получили ваш запрос! Скоро ответим!">
					<label>
						<p>Ваш телефон</p>
						<input type="text" name="contact" placeholder="+7 999 999-99-99">
					</label>
					<label>
						<p>Ваши пожелания</p>
						<textarea name="msg" placeholder="Вкратце опишите желаемое" rows="5"></textarea>
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Оставить заявку</button>
				</form>
			</div>
		</div>
		<div class="popup popup--video popup--js-video">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<div class="popup__video"></div>
			</div>
		</div>
		<div class="overlay"></div>
		<script src="/static/js/main.js"></script>
	</body>
</html>