<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/style.min.css">
		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		<title>Квартиры в новостройках СПб и ЛО</title>
		<meta name="description" content="Описание">
	</head>
	<body>
		<div class="topper">
			<div class="topper__wrap"><span>ТИМ Недвижимость</span><a href="tel:+78124081892">+7 (812) 408-18-92</a></div>
		</div>
		<header class="main-header">
			<div class="main-header__wrap">
				<div class="main-header__top">
					<div class="main-header__item"><a class="main-header__logo" href="/">
							<div class="main-header__logo-top">
								<div class="main-header__logo-img">
									<svg class="logo-img" x="0px" y="0px" viewBox="0 0 330 342.7" enable-background="new 0 0 330 342.7" xml:space="preserve">
										<g>
											<g>
												<g>
													<polygon fill="#125FC5" points="233.4,75 283,75 307.4,32.8 191.2,32.8"></polygon>
													<polygon fill="#125FC5" points="275.6,117.3 295.8,137.4 307.4,117.3"></polygon>
													<polygon fill="#125FC5" points="138.9,32.8 82.4,32.8 58,75 96.6,75"></polygon>
													<polygon fill="#125FC5" points="51.5,222.5 22.6,272.4 67.7,272.4 43.6,314.5 47.3,314.6 95.8,314.6 113.3,284.3"></polygon>
													<polygon fill="#125FC5" points="186.4,314.6 193.5,314.6 203,298"></polygon>
												</g>
												<g>
													<path fill="#125FC5" d="M191.2,32.8l-5.6-5.6c-11.4-11.4-29.8-11.4-41.2,0l-5.6,5.6H191.2z"></path>
													<polygon fill="#F4BB2E" points="213.8,194.8 258.6,117.3 275.6,117.3 233.4,75 185.5,75 161.1,117.3 209.8,117.3 165,194.8"></polygon>
													<path fill="#125FC5" d="M144.9,314.6l-0.2-0.1l44.7-77.4h-48.9l-27.3,47.3l31.1,31.1c11.4,11.4,29.8,11.4,41.2,0l0.8-0.8H144.9z"></path>
													<path fill="#125FC5" d="M136.6,75H96.6l-75.7,75.7c-11.4,11.4-11.4,29.8,0,41.2l30.5,30.5L136.6,75z"></path>
													<path fill="#125FC5" d="M309.1,150.7l-13.4-13.4L203,298l106.1-106.1C320.5,180.6,320.5,162.1,309.1,150.7z"></path>
												</g>
											</g>
										</g>
									</svg>
								</div>
								<h4 class="main-header__logo-text"><span>ТИМ</span><span>Недвижимость</span></h4>
							</div>
							<div class="main-header__logo-bottom">
								<p>Продажа недвижимости в&nbsp;Санкт&nbsp;Петербурге и&nbsp;ЛО</p>
							</div></a></div>
					<div class="main-header__item">
						<p>Наши услуги бесплатны</p>
					</div>
					<div class="main-header__item">
						<div class="main-header__tel"><a href="tel:+78124081892">+7 (812) 408-18-92</a>
							<button class="btn btn--upper js--show-call-popup">Заказать звонок</button>
						</div>
					</div>
				</div>
				<div class="main-header__bottom">
					<nav class="main-nav"><a class="main-nav__item main-nav__item--attention" href="/object/list">Новостройки</a><a class="main-nav__item main-nav__item--bigger main-nav__item--attention" href="#">Вторичная недвижимость</a><a class="main-nav__item main-nav__item--bigger main-nav__item--attention" href="#">Лучшие предложения</a><a class="main-nav__item" href="/uslugi">Услуги</a><a class="main-nav__item" href="/ipoteka">Ипотека</a><a class="main-nav__item main-nav__item--bigger" href="#">Для покупателей</a></nav>
				</div>
			</div>
		</header>
		<section class="objects">
			<div class="objects__wrap">
				<h2 class="objects__title"><span>Новостройки Санкт-Петербурга</span></h2>
				<div class="objects__list">
					<div class="objects__item"><img class="objects__img" src="./static/img/map/img.jpg" alt="Название объекта" width="305px" height="220px">
						<div class="objects__content">
							<ul class="objects__info">
								<li>Название объекта</li>
								<li>Место объекта</li>
								<li>Метро объекта</li>
								<li>Сроки сдачи</li>
							</ul>
							<ul class="objects__info objects__info--links">
								<li><a href="#">Студии от 1.5 млн. р.</a></li>
								<li><a href="#">2 к. кв. от 2.5 млн. р.</a></li>
								<li><a href="#">3 к. кв. от 3.5 млн. р.</a></li>
							</ul>
						</div>
						<div class="objects__btn"><a class="objects__link" href="/object">Подробнее</a></div>
					</div>
				</div>
				<div class="objects__pagination"><a class="objects__pagination-link objects__pagination-link--blocked" href="#">Назад</a><a class="objects__pagination-link" href="#">Вперед</a></div>
			</div>
		</section>
		<div class="tablet-bottom">
			<div class="tablet-bottom__flex">
				<div class="tablet-bottom__item"><a class="js--show-consult-popup" href="#">Консультация</a></div>
				<div class="tablet-bottom__item tablet-bottom__item--action"><a class="js--show-action-popup" href="#">Акция</a></div>
			</div>
		</div>
		<div class="tablet-search">
			<button class="btn btn--attention btn--upper btn--big js--show-search-popup">Поиск недвижимости</button>
		</div>
		<footer class="footer">
			<section class="footer-search">
				<div class="footer-search__content">
					<h3 class="footer-search__title">Поиск недвижимости</h3>
					<div class="footer-search__wrap">
						<ul class="footer-search__list">
							<li class="footer-search__item"><a href="#">Район</a></li>
							<li class="footer-search__item"><a href="#">Метро</a></li>
							<li class="footer-search__item"><a href="#">Год сдачи</a></li>
							<li class="footer-search__item"><a href="#">Способы покупки</a></li>
						</ul>
						<div class="footer-search__options">
							<ul class="footer-search__options-list">
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
							</ul>
							<ul class="footer-search__options-list">
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
							</ul>
							<ul class="footer-search__options-list">
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
							</ul>
							<ul class="footer-search__options-list">
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Невский">
										<button type="submit">Невский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Московский">
										<button type="submit">Московский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Фрунзенский">
										<button type="submit">Фрунзенский р-н</button>
									</form>
								</li>
								<li>
									<form class="footer-search__options-form" method="GET" action="search">
										<input type="hidden" name="place" value="Кировский">
										<button type="submit">Кировский р-н</button>
									</form>
								</li>
							</ul>
						</div>
					</div><img class="footer-search__decor-img" src="./static/img/search/bg.png" alt="Поиск недвижимости">
				</div>
			</section>
			<nav class="footer-nav">
				<div class="footer__wrap">
					<ul class="footer-nav__list">
						<li class="footer-nav__item"><a href="/object/list">Новостройки</a></li>
						<li class="footer-nav__item footer-nav__item--bigger"><a href="#">Квартиры в готовых домах</a></li>
						<li class="footer-nav__item footer-nav__item--bigger"><a href="#">Вторичная недвижимость</a></li>
						<li class="footer-nav__item"><a href="/uslugi">Услуги</a></li>
						<li class="footer-nav__item"><a href="/ipoteka">Ипотека</a></li>
						<li class="footer-nav__item footer-nav__item--bigger"><a href="#">Подарки</a></li>
					</ul>
				</div>
			</nav>
			<div class="footer__bottom">
				<div class="footer__wrap">
					<div class="footer__flex"><a class="footer__logo" href="/">
							<div class="footer__logo-img">
								<svg class="logo-img" x="0px" y="0px" viewBox="0 0 330 342.7" enable-background="new 0 0 330 342.7" xml:space="preserve">
									<g>
										<g>
											<g>
												<polygon fill="#125FC5" points="233.4,75 283,75 307.4,32.8 191.2,32.8"></polygon>
												<polygon fill="#125FC5" points="275.6,117.3 295.8,137.4 307.4,117.3"></polygon>
												<polygon fill="#125FC5" points="138.9,32.8 82.4,32.8 58,75 96.6,75"></polygon>
												<polygon fill="#125FC5" points="51.5,222.5 22.6,272.4 67.7,272.4 43.6,314.5 47.3,314.6 95.8,314.6 113.3,284.3"></polygon>
												<polygon fill="#125FC5" points="186.4,314.6 193.5,314.6 203,298"></polygon>
											</g>
											<g>
												<path fill="#125FC5" d="M191.2,32.8l-5.6-5.6c-11.4-11.4-29.8-11.4-41.2,0l-5.6,5.6H191.2z"></path>
												<polygon fill="#F4BB2E" points="213.8,194.8 258.6,117.3 275.6,117.3 233.4,75 185.5,75 161.1,117.3 209.8,117.3 165,194.8"></polygon>
												<path fill="#125FC5" d="M144.9,314.6l-0.2-0.1l44.7-77.4h-48.9l-27.3,47.3l31.1,31.1c11.4,11.4,29.8,11.4,41.2,0l0.8-0.8H144.9z"></path>
												<path fill="#125FC5" d="M136.6,75H96.6l-75.7,75.7c-11.4,11.4-11.4,29.8,0,41.2l30.5,30.5L136.6,75z"></path>
												<path fill="#125FC5" d="M309.1,150.7l-13.4-13.4L203,298l106.1-106.1C320.5,180.6,320.5,162.1,309.1,150.7z"></path>
											</g>
										</g>
									</g>
								</svg>
							</div>
							<div class="footer__logo-text">
								<h3 class="footer__logo-title">ТИМ Недвижимость</h3>
								<p class="footer__logo-descr">Продажа недвижимости в Санкт-Петербурге и ЛО</p>
							</div></a>
						<div class="footer__socials">
							<ul class="socials">
								<li class="socials__item socials__item--vk"><a href="https://vk.com/timndv" target="_blank" rel="nofollow"><span>ВКонтакте</span></a></li>
								<li class="socials__item socials__item--fb"><a href="#"><span>Youtube</span></a></li>
								<li class="socials__item socials__item--yt"><a href="#"><span>Facebook</span></a></li>
							</ul>
							<button class="btn btn--attention btn--upper js--show-question-popup">Написать письмо</button>
						</div>
						<div class="footer__address">Адрес нашего офиса<br>Владимирский пр. 23</div>
						<div class="footer__tel"><a href="tel:+78124081892">+7 (812) 408-18-92</a>
							<button class="btn btn--upper js--show-order-get-popup">Заявка на подбор</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="popup popup--js-call">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите номер&nbsp;телефона и&nbsp;мы&nbsp;перезвоним в&nbsp;течение&nbsp;5&nbsp;минут!</p>
				<form class="popup__form js--form" method="post" action="/order-call" data-msg="Ждите звонка!">
					<label>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Заказать звонок</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-register-seminar">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите контактные&nbsp;данные для&nbsp;регистрации!</p>
				<form class="popup__form js--form" method="post" action="/register-seminar" data-msg="Вы успешно зарегистрированы!">
					<label>
						<p>Имя</p>
						<input type="text" name="name" placeholder="Как к вам обращаться?">
					</label>
					<label>
						<p>Номер&nbsp;телефона</p>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<label>
						<p>Email</p>
						<input type="email" name="email" placeholder="ivanov@mail.ru">
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Зарегистрироваться на семинар</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-action">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--action">Акция!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции. Описание акции.</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-success">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--success">У вас получилось!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Всё успешно!</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-error">
			<button class="popup__close js--close-popup">&#10006;</button>
			<h4 class="popup__title popup__title--error">Ошибка!</h4>
			<div class="popup__body">
				<p class="popup__text popup__text--small">Попробуйте снова!</p>
				<button class="btn btn--attention btn--bold js--close-popup">Понятно!</button>
			</div>
		</div>
		<div class="popup popup--js-question">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Остались&nbsp;вопросы? С&nbsp;радостью ответим!</p>
				<form class="popup__form js--form" method="post" action="/question" data-msg="Мы получили ваш вопрос! Скоро ответим!">
					<label>
						<p>Ваш телефон или почта</p>
						<input type="text" name="contact" placeholder="ivanov@mail.ru">
					</label>
					<label>
						<p>Ваш вопрос</p>
						<textarea name="msg" placeholder="Напишите ваш вопрос" rows="4"></textarea>
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Узнать ответ</button>
				</form>
			</div>
		</div>
		<div class="popup popup--js-order-get">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Подберём наилучший&nbsp;вариант!</p>
				<form class="popup__form js--form" method="post" action="/order-get" data-msg="Мы получили ваш запрос! Скоро ответим!">
					<label>
						<p>Ваш телефон</p>
						<input type="text" name="contact" placeholder="+7 999 999-99-99">
					</label>
					<label>
						<p>Ваши пожелания</p>
						<textarea name="msg" placeholder="Вкратце опишите желаемое" rows="5"></textarea>
					</label>
					<button class="btn btn--attention btn--bold" type="submit">Оставить заявку</button>
				</form>
			</div>
		</div>
		<div class="popup popup--video popup--js-video">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<div class="popup__video"></div>
			</div>
		</div>
		<div class="popup popup--js-search">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<h4 class="popup__title">Поиск недвижимости</h4>
				<div class="search search--mobile">
					<div class="search__content">
						<div class="search__step"><span class="search__step-curr">1</span><span class="search__step-of">&nbsp;/ 4</span></div>
						<form class="search__form" method="" action="">
							<div class="search__block search__block--active">
								<div class="search__block-title">Выберите количество комнат</div>
								<label class="search__label"><span>Студия</span>
									<input type="checkbox" name="rooms" value="studio">
								</label>
								<label class="search__label"><span>1 комната</span>
									<input type="checkbox" name="rooms" value="one">
								</label>
								<label class="search__label"><span>2 комнаты</span>
									<input type="checkbox" name="rooms" value="two">
								</label>
								<label class="search__label"><span>3 комнаты</span>
									<input type="checkbox" name="rooms" value="three">
								</label>
								<label class="search__label"><span>Больше 3-ех комнат</span>
									<input type="checkbox" name="rooms" value="more">
								</label>
								<div class="search__block-btn">
									<button class="js--next-btn">Далее</button>
								</div>
							</div>
							<div class="search__block">
								<div class="search__block-title">Выберите стоимость</div>
								<label class="search__label"><span>до 2 млн.</span>
									<input type="checkbox" name="price" value="2">
								</label>
								<label class="search__label"><span>от 2 до 3 млн.</span>
									<input type="checkbox" name="price" value="3">
								</label>
								<label class="search__label"><span>от 3 до 4 млн.</span>
									<input type="checkbox" name="price" value="4">
								</label>
								<label class="search__label"><span>от 4 до 5 млн.</span>
									<input type="checkbox" name="price" value="5">
								</label>
								<label class="search__label"><span>Больше 5 млн.</span>
									<input type="checkbox" name="price" value="more">
								</label>
								<div class="search__block-btn search__block-btn--two">
									<button class="search__block-prev-btn js--prev-btn">Назад</button>
									<button class="js--next-btn">Далее</button>
								</div>
							</div>
							<div class="search__block">
								<div class="search__block-title">Выберите район и год сдачи</div>
								<label class="search__label-select">
									<select name="place" size="1">
										<option value="">Выберите районы</option>
										<option value="Невский">Невский р-н</option>
										<option value="Невский">Невский р-н</option>
										<option value="Невский">Невский р-н</option>
									</select>
								</label>
								<label class="search__label"><span>2017 год</span>
									<input type="checkbox" name="year" value="2017">
								</label>
								<label class="search__label"><span>2018 год</span>
									<input type="checkbox" name="year" value="2018">
								</label>
								<label class="search__label"><span>2019 год</span>
									<input type="checkbox" name="year" value="2019">
								</label>
								<label class="search__label"><span>2020 год</span>
									<input type="checkbox" name="year" value="2020">
								</label>
								<div class="search__block-btn search__block-btn--two">
									<button class="search__block-prev-btn js--prev-btn">Назад</button>
									<button class="js--next-btn">Далее</button>
								</div>
							</div>
							<div class="search__block">
								<div class="search__block-title">Варианты оплаты</div>
								<label class="search__label"><span>Рассрочка</span>
									<input type="checkbox" name="payment" value="Рассрочка">
								</label>
								<label class="search__label"><span>Ипотека</span>
									<input type="checkbox" name="payment" value="Ипотека">
								</label>
								<label class="search__label"><span>Материнский капитал</span>
									<input type="checkbox" name="payment" value="Материнский капитал">
								</label>
								<label class="search__label"><span>Военная ипотека</span>
									<input type="checkbox" name="payment" value="Военная ипотека">
								</label>
								<label class="search__label"><span>Субсидии</span>
									<input type="checkbox" name="payment" value="Субсидии">
								</label>
								<div class="search__block-btn search__block-btn--left">
									<button class="search__block-prev-btn js--prev-btn">Назад</button>
								</div>
							</div>
							<div class="search__results">
								<div class="search__results-number"><span>Подобрано</span><span class="js--results-number">256</span><span>вариантов</span></div>
								<button class="btn btn--upper" type="submit">Показать</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="popup popup--js-service">
			<button class="popup__close js--close-popup">&#10006;</button>
			<div class="popup__body">
				<p class="popup__text">Введите номер&nbsp;телефона. Мы&nbsp;перезвоним, проконсультируем и,&nbsp;при решении работать с&nbsp;нами, договоримся о&nbsp;дальнейших шагах.</p>
				<form class="popup__form js--form" method="post" action="/order" data-msg="Ждите звонка!">
					<label>
						<input type="tel" name="tel" placeholder="+7 999 999-99-99">
					</label>
					<input type="hidden" name="info">
					<button class="btn btn--attention btn--bold" type="submit">Получить консультацию</button>
				</form>
			</div>
		</div>
		<div class="overlay"></div>
		<script src="/static/js/main.js"></script>
	</body>
</html>